@charset "UTF-8";
/*!
 *
 * Evgeniy Ivanov - 2018
 * busforward@gmail.com
 * Skype: ivanov_ea
 *
 */
.footer:after, .strategy:after, .plate:after, .main__content:after, .container_center:after, .header:after, .header__action:after, .form:after, .form__row:after, .map__info:after, .footer__left:after, .fScreen:after, .fScreen .container_center:after, .company:after, .company__list:after {
  content: '';
  display: table;
  clear: both; }

.footer:before, .strategy:before, .plate:before {
  content: '';
  display: table;
  clear: both; }

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro.eot");
  src: url("../fonts/GothamPro/GothamPro.woff2") format("woff2"), url("../fonts/GothamPro/GothamPro.woff") format("woff"), url("../fonts/GothamPro/GothamPro.ttf") format("truetype"), url("../fonts/GothamPro/GothamPro.svg#GothamPro") format("svg"), url("../fonts/GothamPro/GothamPro.eot?#iefix") format("embedded-opentype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-LightItalic/GothamPro-LightItalic.eot");
  src: url("../fonts/GothamPro-LightItalic/GothamPro-LightItalic.woff2") format("woff2"), url("../fonts/GothamPro-LightItalic/GothamPro-LightItalic.woff") format("woff"), url("../fonts/GothamPro-LightItalic/GothamPro-LightItalic.ttf") format("truetype"), url("../fonts/GothamPro-LightItalic/GothamPro-LightItalic.svg#GothamPro-LightItalic") format("svg"), url("../fonts/GothamPro-LightItalic/GothamPro-LightItalic.eot?#iefix") format("embedded-opentype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Light/GothamPro-Light.eot");
  src: url("../fonts/GothamPro-Light/GothamPro-Light.woff2") format("woff2"), url("../fonts/GothamPro-Light/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro-Light/GothamPro-Light.ttf") format("truetype"), url("../fonts/GothamPro-Light/GothamPro-Light.svg#GothamPro-Light") format("svg"), url("../fonts/GothamPro-Light/GothamPro-Light.eot?#iefix") format("embedded-opentype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Medium/GothamPro-Medium.eot");
  src: url("../fonts/GothamPro-Medium/GothamPro-Medium.woff2") format("woff2"), url("../fonts/GothamPro-Medium/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro-Medium/GothamPro-Medium.ttf") format("truetype"), url("../fonts/GothamPro-Medium/GothamPro-Medium.svg#GothamPro-Medium") format("svg"), url("../fonts/GothamPro-Medium/GothamPro-Medium.eot?#iefix") format("embedded-opentype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Bold/GothamPro-Bold.eot");
  src: url("../fonts/GothamPro-Bold/GothamPro-Bold.woff2") format("woff2"), url("../fonts/GothamPro-Bold/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold/GothamPro-Bold.ttf") format("truetype"), url("../fonts/GothamPro-Bold/GothamPro-Bold.svg#GothamPro-Bold") format("svg"), url("../fonts/GothamPro-Bold/GothamPro-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'PF Din Text Cond Pro';
  src: url("../fonts/PF Din Text Cond Pro/PFDinTextCondPro-Medium.woff") format("woff"), url("../fonts/PF Din Text Cond Pro/PFDinTextCondPro-Medium.ttf") format("truetype"), url("../fonts/PF Din Text Cond Pro/PFDinTextCondPro-Medium.svg#PFDinTextCondPro-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'PF Din Text Cond Pro';
  src: url("../fonts/PF Din Text Cond Pro/pfdintextcondpro-medium.eot");
  src: url("../fonts/PF Din Text Cond Pro/pfdintextcondpro-medium.woff2") format("woff2"), url("../fonts/PF Din Text Cond Pro/pfdintextcondpro-medium.eot?#iefix") format("embedded-opentype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Muller';
  src: url("../fonts/Muller/MullerRegular.woff") format("woff"), url("../fonts/Muller/MullerRegular.ttf") format("truetype"), url("../fonts/Muller/MullerRegular.svg#MullerRegular") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Muller';
  src: url("../fonts/Muller/muller.eot");
  src: url("../fonts/Muller/muller.woff2") format("woff2"), url("../fonts/Muller/muller.eot?#iefix") format("embedded-opentype");
  font-weight: 400;
  font-style: normal; }

/* Global variables */
/* ======================================================================== */
/* Grid */
/* ======================================================================== */
/* Form */
/* ======================================================================== */
/* Breakpoints */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, .wrapper {
  height: 100%;
  position: relative;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
  font-size: 100%;
  font-family: "Gotham Pro";
  color: #000;
  line-height: 1.2; }

/**
 * Add the correct display in IE 9-.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  a:focus {
    outline: 0; }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
  max-width: 100%; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
  outline: 0; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

.wrapper {
  font-size: 1em;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -11em auto;
  background-color: #161515;
  overflow: hidden; }

/* Middle
 ----------------------------------------------------------------------------- */
.main__content {
  padding-bottom: 11em; }

.container_center {
  max-width: 89.5em;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto; }

.column {
  -webkit-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 20px;
  column-gap: 20px;
  -webkit-column-width: 300px;
  column-width: 300px; }

/* Header
 ----------------------------------------------------------------------------- */
.header {
  padding: 3.3em 0;
  position: absolute;
  width: 100%; }
  .header__logo {
    float: left; }
    .header__logo a {
      vertical-align: middle;
      display: inline-block;
      margin-right: 0.5em; }
    .header__logoSub {
      display: inline-block;
      vertical-align: middle;
      font-size: 0.9em;
      max-width: 23em;
      line-height: 1.1;
      color: rgba(255, 255, 255, 0.7);
      text-transform: uppercase;
      letter-spacing: .07em; }
  .header__action {
    float: right;
    padding-top: 0.1em; }
    .header__actionItem {
      float: left; }
      .header__actionItem a {
        display: inline-block;
        color: #fff;
        text-decoration: none; }
        .header__actionItem a[href*="tel"] {
          font-size: 1.7em;
          font-weight: 500;
          margin-right: 1em; }
          .header__actionItem a[href*="tel"]:hover {
            color: #f01e1e; }
  .header__call {
    margin-top: 0.1em;
    padding-bottom: .1em;
    font-size: 1.15em; }
    .header__call:after {
      content: '';
      border-bottom: 1px solid #f01e1e;
      display: block;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      margin-left: 0;
      width: 100%; }
    .header__call:hover:after {
      margin-left: 90%;
      width: 10%; }

.stiky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

/* Footer
 ----------------------------------------------------------------------------- */
.footer {
  font-size: 1em;
  position: relative;
  height: 11em;
  color: #fff; }
  .footer .container_center {
    padding-top: 2em;
    padding-bottom: 2em; }

.form__row {
  margin-bottom: 15px; }
  .form__row input:not([type]),
  .form__row input[type=text],
  .form__row input[type=password],
  .form__row input[type=email],
  .form__row input[type=url],
  .form__row input[type=search],
  .form__row input[type=tel],
  .form__row input[type=number],
  .form__row input[type=datetime],
  .form__row textarea,
  .form__row .btn {
    width: 100%; }
  .form__row textarea {
    max-width: 100%;
    max-width: 100%;
    min-height: 15px; }

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=number],
input[type=datetime],
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 6px 15px;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  font-family: "Gotham Pro";
  border-radius: 5px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  input:not([type]):hover,
  input[type=text]:hover,
  input[type=password]:hover,
  input[type=email]:hover,
  input[type=url]:hover,
  input[type=search]:hover,
  input[type=tel]:hover,
  input[type=number]:hover,
  input[type=datetime]:hover,
  textarea:hover {
    border: 1px solid #ddd;
    background-color: #fff; }
  input:not([type]):focus,
  input[type=text]:focus,
  input[type=password]:focus,
  input[type=email]:focus,
  input[type=url]:focus,
  input[type=search]:focus,
  input[type=tel]:focus,
  input[type=number]:focus,
  input[type=datetime]:focus,
  textarea:focus {
    border: 1px solid #ddd;
    background-color: #fff; }
  input:not([type]).invalid,
  input[type=text].invalid,
  input[type=password].invalid,
  input[type=email].invalid,
  input[type=url].invalid,
  input[type=search].invalid,
  input[type=tel].invalid,
  input[type=number].invalid,
  input[type=datetime].invalid,
  textarea.invalid {
    background-color: #fff0f0;
    border: 1px solid red; }
  input:not([type])::-webkit-input-placeholder,
  input[type=text]::-webkit-input-placeholder,
  input[type=password]::-webkit-input-placeholder,
  input[type=email]::-webkit-input-placeholder,
  input[type=url]::-webkit-input-placeholder,
  input[type=search]::-webkit-input-placeholder,
  input[type=tel]::-webkit-input-placeholder,
  input[type=number]::-webkit-input-placeholder,
  input[type=datetime]::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #ddd; }
  input:not([type]):-moz-placeholder,
  input[type=text]:-moz-placeholder,
  input[type=password]:-moz-placeholder,
  input[type=email]:-moz-placeholder,
  input[type=url]:-moz-placeholder,
  input[type=search]:-moz-placeholder,
  input[type=tel]:-moz-placeholder,
  input[type=number]:-moz-placeholder,
  input[type=datetime]:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #ddd; }
  input:not([type])::-moz-placeholder,
  input[type=text]::-moz-placeholder,
  input[type=password]::-moz-placeholder,
  input[type=email]::-moz-placeholder,
  input[type=url]::-moz-placeholder,
  input[type=search]::-moz-placeholder,
  input[type=tel]::-moz-placeholder,
  input[type=number]::-moz-placeholder,
  input[type=datetime]::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #ddd; }
  input:not([type]):-ms-input-placeholder,
  input[type=text]:-ms-input-placeholder,
  input[type=password]:-ms-input-placeholder,
  input[type=email]:-ms-input-placeholder,
  input[type=url]:-ms-input-placeholder,
  input[type=search]:-ms-input-placeholder,
  input[type=tel]:-ms-input-placeholder,
  input[type=number]:-ms-input-placeholder,
  input[type=datetime]:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #ddd; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=checkbox],
input[type=radio] {
  padding: 0;
  display: inline-block;
  height: 14px;
  width: 14px;
  border: 1px solid #aaa;
  overflow: hidden;
  margin-top: -4px;
  vertical-align: middle;
  -webkit-appearance: none;
  outline: 0;
  background: 0 0;
  text-align: center;
  position: relative; }
  input[type=checkbox]:not(:disabled), input[type=checkbox]:not(:disabled),
  input[type=radio]:not(:disabled),
  input[type=radio]:not(:disabled) {
    cursor: pointer; }
  input[type=checkbox]:before, input[type=checkbox]:before,
  input[type=radio]:before,
  input[type=radio]:before {
    display: block; }
  input[type=checkbox]:disabled, input[type=checkbox]:disabled,
  input[type=radio]:disabled,
  input[type=radio]:disabled {
    border-color: #ddd; }

input[type=radio] {
  border-radius: 50%; }
  input[type=radio]:checked:before {
    content: '';
    width: 6px;
    height: 6px;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -3px;
    display: block;
    position: absolute;
    border-radius: 50%;
    background: #000; }
  input[type=radio]:disabled:checked:before {
    background-color: #aaa; }

input[type=checkbox]:checked:before, input[type=checkbox]:indeterminate:before {
  content: "\2714";
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  line-height: 13px;
  color: #000; }

input[type=checkbox]:indeterminate:before {
  content: "\f068"; }

input[type=checkbox]:disabled:checked:before, input[type=checkbox]:disabled:indeterminate:before {
  color: #aaa; }

.grid {
  margin-left: -20px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  html[data-browser*="flexible"] .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    html[data-browser*="flexible"] .grid > div {
      display: block;
      min-height: 1px;
      -webkit-box-flex: 0;
      -ms-flex: none;
      flex: none; }
  html[data-browser*="not-flex"] .grid {
    display: block;
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px; }
    html[data-browser*="not-flex"] .grid > div {
      min-height: 1px;
      display: inline-block;
      vertical-align: top;
      letter-spacing: normal;
      line-height: 1.2;
      font-size: 1em; }
  html[data-browser*="flexible"] .grid {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }
  html[data-browser*="flexible"] .grid_nowrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap; }
  .grid > div {
    padding-left: 20px;
    margin-bottom: 20px; }
    .grid > div.width_1 {
      width: 50%; }
    .grid > div.width_2 {
      width: 50%; }
    .grid > div.width_3 {
      width: 33.3%; }
    .grid > div.width_4 {
      width: 25%; }
    .grid > div.width_5 {
      width: 20%; }
    .grid > div.width_2_3 {
      width: 66%; }
    .grid > div.width_3_4 {
      width: 75%; }
  .grid__1 > div {
    width: 100%; }
  .grid__2 > div {
    width: 50%; }
  .grid__3 > div {
    width: 33.33333%; }
  .grid__4 > div {
    width: 25%; }
  .grid__5 > div {
    width: 20%; }
  .grid__6 > div {
    width: 16.66667%; }
  .grid__7 > div {
    width: 14.28571%; }
  .grid__8 > div {
    width: 12.5%; }
  .grid__9 > div {
    width: 11.11111%; }
  .grid__10 > div {
    width: 10%; }
  .grid__11 > div {
    width: 9.09091%; }
  .grid__12 > div {
    width: 8.33333%; }

[data-grid-match] .grid__item {
  background-color: #eee; }

@media (max-width: 991px) {
  .grid__4 > div {
    width: 50%; } }

.soc {
  float: left; }
  .soc a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.3ss;
    -o-transition: all 0.3ss;
    transition: all 0.3ss; }
    .soc a:hover {
      opacity: .8; }
    .soc a:before {
      content: 'soc';
      color: #fff;
      text-decoration: none; }

.breadcrumb {
  margin: 15px 0;
  padding: 0; }
  .breadcrumb li {
    display: inline-block;
    vertical-align: baseline; }
    .breadcrumb li:not(:first-child):before {
      content: '/';
      display: inline-block; }
    .breadcrumb li:last-child a {
      cursor: default;
      text-decoration: none; }
    .breadcrumb li a {
      font-size: 12px; }

.pagination {
  margin: 25px 0;
  padding: 0; }
  .pagination li {
    display: inline-block; }
    .pagination li a {
      display: block;
      text-align: center; }
    .pagination li.prev a:before {
      content: '<'; }
    .pagination li.next a:before {
      content: '>'; }

.btn {
  color: #000;
  color: #fff;
  font-family: "Gotham Pro";
  font-family: 'Gotham Pro';
  font-size: 1.25em;
  font-weight: 700;
  padding: 1.65em 2em;
  border: none;
  outline: none;
  text-decoration: none;
  display: inline-block;
  background-color: #ddd;
  background-color: #f51212;
  text-align: center;
  max-width: 100%;
  cursor: pointer;
  border-radius: 0.625em;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  position: relative;
  letter-spacing: .06em;
  -webkit-box-shadow: 0 0.438em 1.125em rgba(219, 31, 31, 0.29), inset 0 -0.312em 0 rgba(178, 44, 44, 0.51), inset 0 0 1em #f64242;
  box-shadow: 0 0.438em 1.125em rgba(219, 31, 31, 0.29), inset 0 -0.312em 0 rgba(178, 44, 44, 0.51), inset 0 0 1em #f64242;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(170, 44, 44, 0.45)), to(rgba(251, 92, 92, 0.45)));
  background-image: -webkit-linear-gradient(bottom, rgba(170, 44, 44, 0.45) 0%, rgba(251, 92, 92, 0.45) 100%);
  background-image: -o-linear-gradient(bottom, rgba(170, 44, 44, 0.45) 0%, rgba(251, 92, 92, 0.45) 100%);
  background-image: linear-gradient(to top, rgba(170, 44, 44, 0.45) 0%, rgba(251, 92, 92, 0.45) 100%); }
  .btn:hover {
    text-decoration: none; }
  .btn:hover, .btn:focus, .btn:active {
    -webkit-box-shadow: 0 0 2em rgba(219, 31, 31, 0.61), inset 0 -0.125em 0 rgba(178, 44, 44, 0.51), inset 0 0 1em #f64242;
    box-shadow: 0 0 2em rgba(219, 31, 31, 0.61), inset 0 -0.125em 0 rgba(178, 44, 44, 0.51), inset 0 0 1em #f64242;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(170, 44, 44, 0.14)), to(rgba(251, 92, 92, 0.14)));
    background-image: -webkit-linear-gradient(bottom, rgba(170, 44, 44, 0.14) 0%, rgba(251, 92, 92, 0.14) 100%);
    background-image: -o-linear-gradient(bottom, rgba(170, 44, 44, 0.14) 0%, rgba(251, 92, 92, 0.14) 100%);
    background-image: linear-gradient(to top, rgba(170, 44, 44, 0.14) 0%, rgba(251, 92, 92, 0.14) 100%); }
  .btn_img {
    padding-left: 7.2em; }
    .btn_img img {
      position: absolute;
      left: -2em;
      top: -1em; }

.video {
  position: relative; }
  .video__wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: 49.4%; }
    .video__wrapper iframe, .video__wrapper .video__prev {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .video__prev {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .video__play {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8em;
    height: 8em;
    margin-top: -4.6em;
    margin-left: -3.6em;
    border-radius: 50%;
    border: 1px solid #fff;
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .video__play:after {
      content: '';
      display: block;
      border: 1.5em solid transparent;
      border-left: 1.7em solid #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -1.4em;
      margin-left: -0.5em; }
    .video__play:hover {
      border-color: #DC2323;
      background-color: #DC2323; }

body {
  background-color: #151414;
  color: #fff !important;
  color: #fff; }

@media (max-width: 768px) {
  .container_center {
    max-width: 100%; } }

.section {
  overflow: hidden; }

.section__title {
  position: relative;
  z-index: 3;
  color: #fff;
  font-size: 3.7em;
  font-family: 'PF Din Text Cond Pro';
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase; }
  .section__title_left_5 {
    margin-left: 5%; }
  .section__title_left_7_5 {
    margin-left: 7.5%; }
  @media (max-width: 1366px) {
    .section__title_left_5, .section__title_left_7_5 {
      margin-left: 0; } }
  @media (max-width: 768px) {
    .section__title {
      font-size: 2em; } }

.section__sub {
  margin-top: 0.27em;
  color: #fff;
  font-size: 0.46em;
  font-family: 'Gotham Pro';
  font-weight: 300;
  text-transform: none; }

.strategy {
  padding-bottom: 1.2em;
  color: #fff; }
  .strategy__left {
    overflow: hidden;
    padding: 2em 7em; }
    @media (max-width: 1366px) {
      .strategy__left {
        padding: 2em 3em; } }
    @media (max-width: 1199px) {
      .strategy__left {
        text-align: center;
        padding: 0; } }
  .strategy__right {
    width: 50%;
    padding-right: 21%;
    float: right; }
    @media (max-width: 1620px) {
      .strategy__right {
        width: 40%;
        padding-right: 0; } }
    @media (max-width: 1199px) {
      .strategy__right {
        float: none;
        width: auto; } }
  .strategy__item {
    margin-bottom: 1.85em; }
  .strategy__title {
    margin-bottom: 0.7em;
    opacity: 0.4;
    font-size: 1.75em;
    font-weight: 300; }
  .strategy__info {
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.4em; }
  @media (max-width: 1199px) {
    .strategy__img {
      width: 50%; } }
  @media (max-width: 767px) {
    .strategy__img {
      width: 80%; } }

.meeting {
  position: relative; }
  .meeting__wrap {
    position: relative;
    top: 1em;
    left: -3em;
    width: 93%;
    min-height: 40em;
    margin-left: auto;
    margin-right: auto;
    display: block; }
  .meeting__img {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: auto; }
  .meeting__shadow {
    position: absolute;
    z-index: 1;
    width: 100%;
    min-height: 175%;
    border-radius: 50%;
    -webkit-box-shadow: -100px -150px 200px 0px rgba(95, 34, 34, 0.4);
    box-shadow: -100px -150px 200px 0px rgba(95, 34, 34, 0.4); }
  .meeting__meteorite_06, .meeting__meteorite_07 {
    position: absolute;
    z-index: 5; }
  .meeting__meteorite_06 {
    top: -1em;
    right: 10em; }
    @media (max-width: 1366px) {
      .meeting__meteorite_06 {
        right: 3em; } }
  .meeting__meteorite_07 {
    top: 6em;
    left: -15em; }

.meeting__point {
  position: absolute;
  z-index: 3;
  cursor: pointer; }

.meeting__icon {
  color: #f92626;
  font-size: 2em; }
  @media (max-width: 1200px) {
    .meeting__icon {
      font-size: 1.5em; } }

.meeting__amsterdam {
  top: 38.3%;
  left: 12.5%; }

.meeting__barentsevo {
  top: 15.5%;
  left: 25.5%; }

.meeting__germany {
  top: 35.9%;
  left: 27.3%; }

.meeting__czech {
  top: 41.8%;
  left: 30.3%; }

.meeting__moscow {
  top: 27.6%;
  left: 43.7%; }

.meeting__sochi {
  top: 41.5%;
  left: 45.3%; }

.meeting__izhevsk {
  top: 28.1%;
  left: 55.9%; }

.meeting__kazan {
  top: 34.7%;
  left: 53.3%; }

.meeting__gudermes {
  top: 47.2%;
  left: 51.1%; }

.meeting__tooltip {
  position: absolute;
  z-index: 3;
  padding: 0.5em 1em;
  border: 0.063em solid #6f6f6f;
  text-align: center;
  background-color: rgba(23, 22, 22, 0.7);
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media (max-width: 1366px) {
    .meeting__tooltip {
      display: none; } }

.meeting__amsterdamTooltip {
  top: 3.2em;
  left: -1.4em; }

.meeting__barentsevoTooltip {
  top: -5.5em;
  left: -0.4em; }

.meeting__germanyTooltip {
  top: -5em;
  left: -7em;
  width: 15em; }
  .meeting__germanyTooltip > img {
    margin-right: 0.6em;
    margin-bottom: 0;
    display: inline-block; }
    .meeting__germanyTooltip > img:nth-child(2) {
      padding-bottom: 0.4em; }
    .meeting__germanyTooltip > img:nth-child(3) {
      margin-right: 0; }

.meeting__czechTooltip {
  top: 3.6em;
  left: -3em;
  min-width: 5em; }

.meeting__moscowTooltip {
  top: -10.6em;
  left: -2.1em;
  min-width: 10em;
  text-align: left; }

.meeting__sochiTooltip {
  top: 3.3em;
  left: -5.8em;
  text-align: left; }

.meeting__izhevskTooltip {
  top: -4.9em;
  right: -5.4em; }

.meeting__kazanTooltip {
  top: -1em;
  right: -8.4em; }

.meeting__gudermesTooltip {
  top: 4.7em;
  left: 2em; }

.meeting__moscowTooltip > img, .meeting__sochiTooltip > img {
  margin-bottom: 0.8em; }
  .meeting__moscowTooltip > img:last-child, .meeting__sochiTooltip > img:last-child {
    margin-bottom: 0; }

.meeting__arrow_down, .meeting__arrow_top, .meeting__arrow_left {
  position: absolute;
  z-index: 5; }

.meeting__arrow_down, .meeting__arrow_top {
  width: 1.5em;
  height: 0.8em; }

.meeting__arrow_down {
  bottom: -0.75em;
  background: url("../img/meeting/arrow_down.png") no-repeat; }

.meeting__arrow_top {
  top: -0.7em;
  background: url("../img/meeting/arrow_top.png") no-repeat; }

.meeting__arrow_left {
  width: 0.9em;
  height: 1.5em;
  left: -0.7em;
  background: url("../img/meeting/arrow_left.png") no-repeat; }

.meeting__barentsevoArrow, .meeting__amsterdamArrow, .meeting__gudermesArrow {
  left: 10%; }

.meeting__germanyArrow {
  right: 30%; }

.meeting__moscowArrow {
  left: 35%; }

.meeting__czechArrow {
  right: 10%; }

.meeting__izhevskArrow {
  bottom: 10%; }

.meeting__kazanArrow {
  top: 35%; }

.map {
  position: absolute;
  top: 0;
  left: 100%;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%; }
  .map__wrap {
    position: relative;
    min-height: 44em; }
  .map__infoMarker {
    padding: 2em 4em 2em 3em; }
  .map__info:first-child {
    margin-bottom: 1em; }
  .map__left {
    position: relative;
    top: 0.5em;
    float: left;
    margin-right: 1em;
    color: #ccc;
    font-size: 1em; }
    .map__left_letter {
      top: 0.9em;
      font-size: 0.7em; }
  .map__right {
    overflow: hidden;
    color: #161515;
    font-family: "Gotham Pro";
    font-size: 1.125em;
    font-weight: 500;
    line-height: 1.688em; }

.footer {
  padding: 3.8em 0 7em; }
  .footer__left {
    float: left; }
  .footer__logo {
    float: left;
    margin-right: 0.7em;
    display: inline-block; }
  .footer__sub {
    float: left;
    padding-top: 0.35em;
    color: #fff;
    font-size: 0.75em;
    font-family: "Muller";
    text-transform: uppercase;
    opacity: 0.7; }
  .footer__center {
    float: left;
    margin-left: 5.5em; }
  .footer__policy {
    margin-bottom: 1.5em;
    display: block;
    color: #00b9fe;
    font-size: 0.875em; }
  .footer__copy {
    color: #fff4fb;
    opacity: 0.3; }
  .footer__right {
    float: right; }
  .footer__tel {
    margin-bottom: 0.5em;
    font-size: 1.5em;
    font-weight: 500; }
  .footer__order {
    display: inline-block;
    float: right;
    color: #fff;
    font-size: 1em;
    text-align: right;
    text-decoration: none; }
    .footer__order:hover {
      border-bottom: 1px solid #f01e1e; }

.videoScreen {
  color: #fff4fb;
  padding: 1.5em 0 22em 0;
  position: relative;
  background: url("../img/planet.png") no-repeat bottom right;
  background-size: 40em 100em; }
  .videoScreen .section__title {
    font-size: 4.18em;
    letter-spacing: 0.05em;
    position: relative; }
    .videoScreen .section__title:before {
      content: '';
      width: 2.7em;
      height: 2.7em;
      background: url("../img/title-ell.png") no-repeat center center;
      background-size: contain;
      position: absolute;
      left: 4.2em;
      top: -0.8em; }
  .videoScreen__element li {
    width: 3em;
    height: 2.5em;
    background-image: url(../img/element-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    list-style-type: none; }
    .videoScreen__element li:nth-child(1) {
      top: 2em;
      left: 33em; }
    .videoScreen__element li:nth-child(2) {
      top: 42em;
      right: 15em; }
    .videoScreen__element li:nth-child(3) {
      width: 5em;
      height: 5em;
      background-image: url(../img/element-1.png);
      top: 55em;
      left: 13em;
      z-index: 2; }
    .videoScreen__element li:nth-child(4) {
      bottom: 38em;
      left: 66em; }

.video {
  position: relative;
  width: 87%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4.5em; }
  .video:after {
    content: '';
    display: block;
    width: 110%;
    height: 3em;
    margin-left: -55%;
    border-radius: 50%;
    background-color: #161515;
    position: absolute;
    top: -1.5em;
    left: 50%;
    z-index: 3; }
  .video:before {
    content: '';
    display: block;
    width: 110%;
    height: 3em;
    margin-left: -55%;
    border-radius: 50%;
    background-color: #161515;
    position: absolute;
    bottom: -1.5em;
    left: 50%;
    z-index: 3; }

.videoOver {
  max-width: 19em;
  position: absolute;
  top: 23em;
  right: 15.2em;
  z-index: 4; }
  .videoOver__title {
    margin-bottom: 0.5em;
    font-family: 'PF Din Text Cond Pro';
    font-size: 1.56em;
    letter-spacing: 0.05em;
    text-transform: uppercase; }
  .videoOver__text {
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    color: #fff4fb; }
  .videoOver:after {
    content: '';
    display: block;
    width: 2.063em;
    height: 5.063em;
    background-image: url(../img/action_first.png);
    background-size: contain;
    position: absolute;
    top: -6em;
    left: 2em;
    -webkit-transform: rotate(124deg);
    -ms-transform: rotate(124deg);
    transform: rotate(124deg); }

.getTest {
  padding: 4em 3.3em 3.7em 5em;
  background: url(../img/k.png) no-repeat center, -webkit-gradient(linear, right top, left top, from(#412020), color-stop(25%, #201f1f));
  background: url(../img/k.png) no-repeat center, -webkit-linear-gradient(right, #412020, #201f1f 25%);
  background: url(../img/k.png) no-repeat center, -o-linear-gradient(right, #412020, #201f1f 25%);
  background: url(../img/k.png) no-repeat center, linear-gradient(to left, #412020, #201f1f 25%);
  position: relative;
  overflow: hidden; }
  .getTest:after {
    content: '';
    display: table;
    clear: both;
    width: 100%; }
  .getTest:before {
    content: '';
    display: block;
    width: 40em;
    height: 40em;
    background: -webkit-radial-gradient(#412020, #201f1f 70%);
    background: -o-radial-gradient(#412020, #201f1f 70%);
    background: radial-gradient(#412020, #201f1f 70%);
    position: absolute;
    top: -20em;
    left: -20em;
    z-index: 1; }
  .getTest__left {
    float: left;
    width: 59%;
    color: #fff;
    position: relative;
    z-index: 2; }
  .getTest__title {
    margin-bottom: 0.5em;
    font-family: 'PF Din Text Cond Pro';
    font-size: 3em;
    letter-spacing: 0.03em;
    text-transform: uppercase; }
  .getTest__text {
    max-width: 29em;
    font-size: 1.125rem;
    letter-spacing: 0.04em;
    line-height: 1.5em; }
  .getTest__right {
    float: left;
    width: 41%;
    padding-top: 4.4em; }
  .getTest__btn {
    position: relative; }
    .getTest__btn:after {
      content: '';
      width: 16em;
      height: 16em;
      background: url("../img/btn-ell.png") no-repeat center center;
      background-size: contain;
      position: absolute;
      left: -5.5em;
      top: -5em;
      z-index: 1; }
  .getTest .btn_img {
    padding: 1.6em 2em 2.1em 8.2em;
    z-index: 2; }
    .getTest .btn_img img {
      left: -0.2em;
      top: -0.3em; }

.plate {
  max-width: 87em;
  padding-top: 6%;
  margin-left: -2%;
  padding-left: 5em;
  font-family: "Gotham Pro"; }
  html[data-browser*="flexible"] .plate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    html[data-browser*="flexible"] .plate > div {
      display: block;
      min-height: 1px;
      -webkit-box-flex: 0;
      -ms-flex: none;
      flex: none; }
  html[data-browser*="not-flex"] .plate {
    display: block;
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px; }
    html[data-browser*="not-flex"] .plate > div {
      min-height: 1px;
      display: inline-block;
      vertical-align: top;
      letter-spacing: normal;
      line-height: 1.2;
      font-size: 1.125em; }
  .plate__item {
    padding-left: 2%;
    margin-bottom: 3.2em;
    width: 33.3%;
    float: left;
    vertical-align: middle; }
  .plate__icon {
    float: left;
    margin-top: -2.5em;
    margin-right: -8%; }
  .plate__content {
    overflow: hidden;
    padding-top: 2.6em;
    padding-left: 8%; }
  .plate__title {
    font-size: 1.4em;
    font-weight: 500;
    line-height: 1.41em;
    letter-spacing: 0.01em; }
  .plate__subtitle {
    padding-top: 0.4em;
    opacity: 0.5;
    color: #fff4fb;
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.6em;
    letter-spacing: 0.056em; }

.tasks {
  padding-top: 5%;
  padding-bottom: 3%;
  position: relative; }
  .tasks__img {
    position: absolute;
    top: 3%;
    right: 3%; }
  .tasks:after {
    content: '';
    top: 3%;
    right: 3%;
    display: block;
    position: absolute;
    background-image: url(../img/el5.png);
    background-size: contain;
    width: 17.313em;
    height: 15.438em; }
  .tasks:before {
    content: '';
    bottom: 28%;
    right: 3%;
    display: block;
    position: absolute;
    background-image: url(../img/el5_2.png);
    background-size: contain;
    height: 2.125em;
    width: 2.063em; }
  .tasks .section__title {
    color: #fff;
    font-size: 4.3em;
    font-family: "PF Din Text Cond Pro";
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.035em;
    margin-bottom: 0em; }
    .tasks .section__title_small {
      font-family: "Gotham Pro";
      font-size: 0.33em;
      font-weight: 300; }
      .tasks .section__title_small.text {
        color: rgba(255, 255, 255, 0.6); }
  .tasks .section__sub {
    font-family: "Gotham Pro";
    font-size: 1.4em;
    line-height: 1.7;
    letter-spacing: .1em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase; }

.promotion {
  position: relative;
  padding-bottom: 9.1em; }
  .promotion__list {
    margin-bottom: 19.5em;
    padding-top: 1.5em;
    margin-left: -0.625em !important; }
    .promotion__list_top {
      position: absolute;
      right: 5.5em;
      top: -6em;
      line-height: 1.4; }
  .promotion__item {
    padding-left: 0.625em !important; }
    @media (max-width: 991px) {
      .promotion__item {
        margin-bottom: 0.625em !important; } }
    .promotion__item .promotion__img {
      z-index: 3; }
    .promotion__item:nth-child(1) {
      z-index: 6; }
    .promotion__item:nth-child(2) {
      z-index: 5; }
    .promotion__item:nth-child(3) {
      z-index: 4; }
  .promotion__step {
    position: relative;
    z-index: 1;
    min-height: 20.75em;
    padding: 1.4em 1.1em;
    background-color: #212121; }
    @media (max-width: 991px) {
      .promotion__step {
        min-height: 32em; } }
  .promotion__title {
    font-size: 1.563em;
    font-family: "PF Din Text Cond Pro";
    font-weight: 500;
    text-transform: uppercase; }
  .promotion__number {
    color: #f72e2e;
    font-weight: 700; }
  .promotion__img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 110%; }
    @media (max-width: 991px) {
      .promotion__img {
        width: 100%; } }
    .promotion__img img {
      position: relative;
      bottom: 0;
      width: 100%; }
      @media (max-width: 991px) {
        .promotion__img img {
          height: 100%;
          width: auto; } }
  .promotion__alex {
    margin-bottom: 6.7em;
    padding-right: 45%; }
  .promotion__blockquote {
    position: relative;
    margin-bottom: 1.1em;
    font-size: 1.7em;
    font-family: "Gotham Pro";
    font-weight: 300;
    font-style: italic;
    line-height: 1.3; }
    .promotion__blockquote:before {
      content: '«';
      position: absolute;
      top: 0;
      left: -0.7em; }
  .promotion__info {
    padding-right: 20%;
    opacity: 0.4;
    line-height: 1.4; }
    .promotion__info_item {
      margin-bottom: 1.7em; }
      .promotion__info_item:before {
        content: '';
        position: relative;
        top: -0.08em;
        width: .5em;
        height: .5em;
        margin-right: 0.5em;
        border-radius: 50%;
        background-color: #fff;
        display: inline-block; }
  .promotion__manImg {
    position: absolute;
    bottom: -1.1em;
    right: 1.4em;
    z-index: 1;
    width: 40.8%; }
  .promotion__bgImg {
    position: absolute;
    top: 42%;
    right: 0;
    z-index: -1; }
    @media (max-width: 1366px) {
      .promotion__bgImg {
        top: 38%; } }
    @media (max-width: 992px) {
      .promotion__bgImg {
        top: 38%; } }
    @media (max-width: 991px) {
      .promotion__bgImg {
        top: 59%; } }
  .promotion__manSign {
    position: absolute;
    bottom: 7.5em;
    right: 16.1em;
    z-index: 2;
    width: 25.76%; }
  .promotion__alexName {
    position: absolute;
    bottom: 11.2em;
    right: 14.8em;
    z-index: 2;
    font-size: 1.5em;
    font-family: "PF Din Text Cond Pro";
    font-weight: 500;
    text-transform: uppercase; }
    .promotion__alexName_sub {
      margin-top: 0.5em;
      opacity: 0.3;
      font-size: 0.63em;
      font-family: "Gotham Pro";
      line-height: 1.2;
      text-transform: none; }

.value {
  position: relative;
  min-height: 20em;
  padding-top: 4.1em; }
  .value__bg {
    position: absolute;
    top: -3.4em;
    left: 0;
    z-index: 0;
    width: 100%;
    display: block; }
  .value__img {
    opacity: 0.3; }
  .value__info {
    padding: 3.8em 4em 7em;
    background: url("../img/value/value_bg2.png") 0 0 no-repeat;
    background-size: 100%;
    display: table; }
  .value__left {
    width: 55%;
    display: table-cell; }
  .value__title {
    margin-bottom: 0.5em;
    font-size: 2.8em;
    line-height: 1.1;
    font-family: "PF Din Text Cond Pro";
    font-weight: 500;
    text-transform: uppercase; }
  .value__sub {
    margin-bottom: 0.8em;
    opacity: 0.5; }
  .value__list_item {
    margin-bottom: 0.3em; }
    .value__list_item:before {
      content: '';
      position: relative;
      top: -0.17em;
      width: 0.3em;
      height: 0.3em;
      border-radius: 50%;
      margin-right: 0.5em;
      background-color: #fff;
      display: inline-block; }
  .value__right {
    display: table-cell;
    vertical-align: middle; }
  .value__btn {
    width: 100%;
    padding-left: 7.4em;
    display: inline-block; }
    .value__btn img {
      width: 9em; }

.plate {
  max-width: 87em;
  padding-top: 6%;
  margin-left: -2%;
  padding-left: 5em;
  font-family: "Gotham Pro"; }
  html[data-browser*="flexible"] .plate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    html[data-browser*="flexible"] .plate > div {
      display: block;
      min-height: 1px;
      -webkit-box-flex: 0;
      -ms-flex: none;
      flex: none; }
  html[data-browser*="not-flex"] .plate {
    display: block;
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px; }
    html[data-browser*="not-flex"] .plate > div {
      min-height: 1px;
      display: inline-block;
      vertical-align: top;
      letter-spacing: normal;
      line-height: 1.2;
      font-size: 1.125em; }
  .plate__item {
    padding-left: 2%;
    margin-bottom: 3.2em;
    width: 33.3%;
    float: left;
    vertical-align: middle; }
  .plate__icon {
    float: left;
    margin-top: -2.5em;
    margin-right: -8%; }
  .plate__content {
    overflow: hidden;
    padding-top: 2.6em;
    padding-left: 8%; }
  .plate__title {
    font-size: 1.4em;
    font-weight: 500;
    line-height: 1.41em;
    letter-spacing: 0.01em; }
  .plate__subtitle {
    padding-top: 0.4em;
    opacity: 0.5;
    color: #fff4fb;
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.6em;
    letter-spacing: 0.056em; }

.tasks {
  padding-top: 5%;
  padding-bottom: 3%;
  position: relative; }
  .tasks__img {
    position: absolute;
    top: 3%;
    right: 3%; }
  .tasks:after {
    content: '';
    top: 3%;
    right: 3%;
    display: block;
    position: absolute;
    background-image: url(../img/el5.png);
    background-size: contain;
    width: 17.313em;
    height: 15.438em; }
  .tasks:before {
    content: '';
    bottom: 28%;
    right: 3%;
    display: block;
    position: absolute;
    background-image: url(../img/el5_2.png);
    background-size: contain;
    height: 2.125em;
    width: 2.063em; }
  .tasks .section__title {
    color: #fff;
    font-size: 4.3em;
    font-family: "PF Din Text Cond Pro";
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.035em;
    margin-bottom: 0em; }
    .tasks .section__title_small {
      font-family: "Gotham Pro";
      font-size: 0.33em;
      font-weight: 300; }
      .tasks .section__title_small.text {
        color: rgba(255, 255, 255, 0.6); }
  .tasks .section__sub {
    font-family: "Gotham Pro";
    font-size: 1.4em;
    line-height: 1.7;
    letter-spacing: .1em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase; }

.nameSection {
  color: #fff4fb;
  padding: 16em 0;
  background: url("../img/05-03.png") no-repeat center right;
  background-size: contain; }
  .nameSection:before {
    content: '';
    position: absolute;
    top: -27.75em;
    left: -27.75em;
    width: 55.5em;
    height: 55.563em;
    opacity: 0.4;
    display: block;
    background: -webkit-radial-gradient(#f51e1e, rgba(245, 30, 30, 0) 71%);
    background: -o-radial-gradient(#f51e1e, rgba(245, 30, 30, 0) 71%);
    background: radial-gradient(#f51e1e, rgba(245, 30, 30, 0) 71%); }
  .nameSection .section__title {
    position: relative; }
    .nameSection .section__title:before {
      content: '';
      width: 3em;
      height: 3em;
      background: url("../img/title-ell.png") no-repeat center center;
      background-size: contain;
      position: absolute;
      left: -1.2em;
      top: -1.1em; }
  .nameSection a {
    color: #f51e1e;
    font-weight: 400; }
  .nameSection h2 {
    font-weight: 400;
    line-height: 1.6; }

.fScreen {
  padding: 11.7em 0 0;
  margin-bottom: -3.5em;
  position: relative; }
  .fScreen:before {
    content: '';
    position: absolute;
    top: -27.75em;
    left: -27.75em;
    width: 55.5em;
    height: 55.563em;
    opacity: 0.4;
    display: block;
    background: -webkit-radial-gradient(#f51e1e, rgba(245, 30, 30, 0) 71%);
    background: -o-radial-gradient(#f51e1e, rgba(245, 30, 30, 0) 71%);
    background: radial-gradient(#f51e1e, rgba(245, 30, 30, 0) 71%); }
  .fScreen .section__title {
    font-size: 4.47em;
    line-height: 1.14;
    margin-bottom: 0.35em; }
  .fScreen__left {
    float: left;
    width: 59%;
    margin-right: -20%; }
  .fScreen__sub {
    font-size: 1.95em;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 1.8em; }
  .fScreen__actionName {
    color: rgba(255, 244, 251, 0.3);
    position: relative;
    padding-left: 4.9em;
    line-height: 1.4;
    margin-bottom: 5.4em;
    letter-spacing: 0.05em; }
    .fScreen__actionName:before {
      content: '';
      background: url("../img/action_first.png") no-repeat center;
      background-size: contain;
      width: 2.063em;
      height: 5.063em;
      position: absolute;
      left: 1.6em;
      top: 1em; }
  .fScreen__img {
    position: relative;
    float: right;
    text-align: right;
    width: 78%;
    margin-right: -18%;
    margin-top: -4em;
    margin-bottom: -0.7em; }
  .fScreen__signature {
    position: absolute;
    bottom: 13.5em;
    left: 6em;
    text-align: left; }
  .fScreen__name {
    font-size: 1.563em;
    font-weight: 500;
    font-family: "PF Din Text Cond Pro";
    line-height: 1.99;
    text-transform: uppercase;
    letter-spacing: 0.05em; }
    .fScreen__nameSub {
      color: rgba(255, 244, 251, 0.3);
      font-size: 1em;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.05em; }
  .fScreen .btn {
    padding-top: 1.8em;
    padding-bottom: 2.1em; }
  .fScreen .btn_img img {
    width: 10.48em; }
  .fScreen > .fly_1 {
    top: 7em;
    right: 4.6em;
    width: 4em; }
  .fScreen > .fly_2 {
    top: 22.3em;
    left: 4.7em; }
  .fScreen > .fly_3 {
    top: 57em;
    left: 12em;
    width: 2.8em;
    height: 2.2em; }
  .fScreen > .fly_4 {
    top: 36.2em;
    right: 7.2em;
    width: 15em; }

.company {
  margin-top: 0em; }
  .company__label {
    font-size: 1.563em;
    font-family: "PF Din Text Cond Pro";
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 1em;
    float: left;
    width: 9em;
    padding-top: 0.9em; }
  .company__list {
    overflow: hidden; }
  .company__item {
    float: left;
    width: 16.6%;
    position: relative;
    cursor: pointer; }
    .company__item:hover .company__img {
      background-color: #fff;
      border-color: #fff; }
      .company__item:hover .company__img img {
        -webkit-filter: contrast(1);
        filter: contrast(1); }
    .company__item:hover .company__drop {
      opacity: 1; }
  .company__img {
    text-align: center;
    border: 1px solid rgba(59, 57, 57, 0.4);
    padding: 0.8em 2em;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .company__img:before {
      content: '';
      height: 6.33em;
      display: inline-block;
      vertical-align: middle; }
    .company__img img {
      -webkit-filter: contrast(0);
      filter: contrast(0);
      vertical-align: middle;
      display: inline-block;
      max-width: 95%;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      max-height: 5em; }
  .company__drop {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    padding: 1.7em 0;
    opacity: 0; }
  .company__name {
    font-weight: 500;
    font-size: 1.15em;
    margin-bottom: 0.2em; }
  .company__job {
    color: rgba(255, 244, 251, 0.5); }

.fly {
  position: absolute;
  display: block;
  z-index: 5; }

.videoScreen .section__title {
  text-align: center; }

.videoScreen .video__prev {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(1);
  filter: grayscale(1); }

.getTest .btn_img {
  padding: 1.65em 2em;
  padding-left: 7.2em; }
  .getTest .btn_img img {
    width: 6.8em; }

.value__img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1); }

.promotion__step {
  min-height: 23.75em; }

.promotion__img img {
  height: auto; }

.video:before {
  display: none; }

.video:after {
  display: none; }

.video__wrapper {
  background: none !important;
  background-image: none !important; }

/*# sourceMappingURL=style.css.map */