/*!
 *
 * Evgeniy Ivanov - 2018
 * busforward@gmail.com
 * Skype: ivanov_ea
 *
 */

@import 'mixins/mixin';
// Fonts
@import 'core/fonts';
// @include font-face("PF Din Text Cond Pro", '../fonts/PF Din Text Cond Pro/PFDinTextCondPro-Medium', 500, normal);
// @include font-face("Gotham Pro", '../fonts/GothamPro/GothamPro', 400, normal);


 // Import files

@import 'variables/variables';
@import 'core/reset';
@import 'core/template';
@import 'core/header';
@import 'core/footer';
@import 'core/form';
@import 'core/grid';
@import 'core/soc';
@import 'core/breadcrumb';
@import 'core/pagination';
@import 'core/buttons';
@import 'core/video';

@import 'block/elena';
@import 'block/ivan';
@import 'block/plate';
@import 'block/tasks';
@import 'block/promotion';
@import 'block/value';

@import 'block/plate';
@import 'block/tasks';

// Заглушка
.nameSection {
	color: #fff4fb;
	padding: 16em 0;
	background: url('../img/05-03.png') no-repeat center right;
	background-size: contain;
	&:before {
		content: '';
		position: absolute;
		top: -(55.5em / 2);
		left: -(55.5em / 2);
		width: 55.5em;
		height: 55.563em;
		// background-color: ;
		opacity: 0.4;
		display: block;
		background: radial-gradient(#f51e1e, rgba(#f51e1e, 0) 71%);
		
	}
	.section__title {
		position: relative;
		&:before {
			content: '';
			width: 3em;
			height: 3em;
			background: url('../img/title-ell.png') no-repeat center center;
			background-size: contain;
			position: absolute;
			left: -1.2em;
			top: -1.1em;
		}
	}
	a {
		color: #f51e1e;
		font-weight: 400;
	}
	h2 {
		font-weight: 400;
		line-height: 1.6;
	}
}

.fScreen {
	padding: 11.7em 0 0;
	margin-bottom: 0em;
	position: relative;
	
	@extend %clear_a;
	.container_center {
		@extend %clear_a;
	}
	.section__title {
		font-size: 4.47em;
		line-height: 1.14;
		margin-bottom: 0.35em;
	}
	&__left {
		float: left;
		width: 59%;
		margin-right: -20%;
	}
	&__sub {
		font-size: 1.95em;
		color: rgba(#fff, 0.5);
		margin-bottom: 1.8em;
	}
	&__action {

		&Name {
			color: rgba(#fff4fb, .3);
			position: relative;
			padding-left: 4.9em;
			line-height: 1.4;
			margin-bottom: 5.4em;
			letter-spacing: 0.05em;
			&:before {
				content: '';
				background: url('../img/action_first.png') no-repeat center;
				background-size: contain;
				width: 2.063em;
				height: 5.063em;
				position: absolute;
				left: 1.6em;
				top: 1em;
			}
		}
	}
	&__btn {

	}
	&__img {
		position: relative;
		float: right;
		text-align: right;
		width: 78%;
		margin-right: -18%;
		margin-top: -4em;
		margin-bottom: -0.7em;
	}
	&__signature {
		position: absolute;
		bottom: 13.5em;
		left: 6em;
		text-align: left;
	}
	&__name {
		font-size: 1.563em;
		font-weight: 500;
		font-family: "PF Din Text Cond Pro";
		line-height: 1.99;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		&Sub {
			color: rgba(#fff4fb, .3);
			font-size: 1em;
			font-weight: 400;
			line-height: 1.5;
			letter-spacing: 0.05em;
		}
	}
	.btn {
		padding-top: 1.8em;
		padding-bottom: 2.1em;
		// padding-right: 3.8em;
	}
	.btn_img {
		img {
			width: 10.48em;
		}
	}
}

.company {
	margin-top: 0em;
	@extend %clear_a;
	&__label {
		font-size: 1.563em;
		font-family: "PF Din Text Cond Pro";
		text-transform: uppercase;
		font-weight: 500;
		margin-right: 1em;
		float: left;
		width: 9em;
		padding-top: 0.9em;
	}
	&__list {
		overflow: hidden;
		@extend %clear_a;
	}
	&__item {
		float: left;
		width: 16.6%;
		position: relative;
		cursor: pointer;
		&:hover {
			.company {
				&__img {
					background-color: #fff;
					border-color: #fff;
					img {
						filter: contrast(1);
					}
				}
				&__drop {
					opacity: 1;
				}
			}
		}
	}
	&__img {
		text-align: center;
		border: 1px solid rgba(#3b3939, .4);
		padding: 0.8em 2em;
		transition: .3s;
		&:before {
			content: '';
			height: 6.33em;
			display: inline-block;
			vertical-align: middle;
			
		}
		img {
			filter: contrast(0);
			vertical-align: middle;
			display: inline-block;
			max-width: 95%;
			transition: .3s;
			max-height: 5em;
		    // filter: brightness(95%);
		}
	}
	&__drop {
		transition: .3s;
		padding: 1.7em 0;
		opacity: 0;
		// position: absolute;
		
	}
	&__name {
		font-weight: 500;
		font-size: 1.15em;
		margin-bottom: 0.2em;
	}
	&__job {
		color: rgba(#fff4fb, 0.5);
	}
}



.videoScreen {
	// margin-bottom: -7em;
	.section__title {
		text-align: center;
	}
	.video__prev {
		background-position: center;
		background-size: contain;
		background-color: #000;
		filter: grayscale(1);
	}
}

.getTest {
	.btn_img {
		padding: 1.65em 2em;
	    padding-left: 7.2em;
		img {
			width: 6.8em;
		}
	}
}

.value__img {
	filter: grayscale(1);
}

.promotion__step {
    min-height: 23.75em;
}

.promotion__img img {
	height: auto;
}


@media (max-width: 1366px) {

.section__title {
}
}