extends template.jade

block variables
	-var pageClass = "";

block title
	title Home

block content

	include block/firstScreen.jade
	
	include block/video.jade
	
	include block/brand.jade
	
	include block/profit.jade
	
	include block/tasks.jade
	
	include block/slider.jade
	
	include block/value.jade
	
	include block/promotion.jade
	
	include block/strategy.jade

	//- include block/meeting.jade

	include block/map.jade

	include block/modal.jade

	