<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Success
	link(rel="stylesheet", href="css/success.css")
body
	.success.full__height
		.success__vertical
			.success__content
				.success__title спасибо за заявку
				a.success__link(href="/") Вернуться на сайт
