/* Footer
 ----------------------------------------------------------------------------- */
.footer {
	font-size: $main_font_size;
	position: relative;
	height: $footer_height;
	color: #fff;
	// background: #BFF08E;
	@extend %clear_all;
	.container_center {
		padding-top: 2em;
		padding-bottom: 2em;
	}
}

