// Main wrappers =====================================
.wrapper {
	font-size: $main_font_size;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto (-$footer_height) auto; // отрицательный нижний отступ на высоту футера
    background-color: #161515;
    overflow: hidden;
    
}

/* Middle
 ----------------------------------------------------------------------------- */
.main__content {
	padding-bottom: $footer_height;
	@extend %clear_a;
}

.container_center {
	max-width: $container_width;
	padding: 0 15px;
	margin-left: auto;
	margin-right: auto;
	@extend %clear_a;
}

.column {
	@include columns(4, 20px, 300px);
}

.section {
	overflow: hidden;
}

.section__title {
// 	position: relative;
// 	z-index: 3;
// 	color: #fff;
// 	font-size: 4em;
// 	font-family: 'PF Din Text Cond Pro';
// 	font-weight: 500;
// 	line-height: 1.2;
// 	text-transform: uppercase;
// 	&:before {
// 		content: '';
// 		position: absolute;
// 		// left: 0em;
// 		top: -0.8em;
// 		width: 2.7em;
// 		height: 2.7em;
// 		background: url('../img/title-ell.png') no-repeat center center;
// 		background-size: contain;
// 	}
	@media (max-width : 1366px) {
		// font-size: 2.2em;
		br {
			display: none;
		}
		&:before {
			display: none;
			
		}
	}
}

// .section__sub {
// 	margin-top: 0.27em;
// 	color: #fff;
// 	font-size: 0.46em;
// 	font-family: 'Gotham Pro';
// 	font-weight: 300;
// 	text-transform: none;
// }

