// Обертка для адаптивного видео
//	<div class="video__wrapper js-youtube" id="ID_VIDEO">
//		iframe c youtube
// </div>
.video {
	position: relative;
	&__wrapper {
		position: relative;
		overflow: hidden;
		padding-bottom: 49.4%;
		iframe,.video__prev {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	&__prev {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&__play {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 8em;
		height: 8em;
		margin-top: -4.6em;
		margin-left: -3.6em;
		border-radius: 50%;
		border: 1px solid #fff;
		cursor: pointer;
		transition: .3s;
		&:after {
			content: '';
			display: block;
			border: 1.5em solid transparent;
			border-left: 1.7em solid #fff;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -1.4em;
			margin-left: -0.5em;
		}
		&:hover {
			border-color: #DC2323;
			background-color: #DC2323;
		}
	}
	@media (max-width: 767px) {
	    &__play {
	    	width: 7em;
	    	height: 7em;
	    	margin-top: -3.5em;
	    	margin-left: -3.5em;
	    }
	}
}