// begin footer 
.container_center
	footer.footer

		.footer__left
			img.footer__logo(src="img/logo.png", alt="logo")
			.footer__sub Первое брендинговое агентство <br>для промышленных предприятий
		.footer__center
			a.footer__policy(href="#") Политика конфиденциальности
			.footer__copy &copy; 2018  ООО Коольдизайн
		.footer__right
			.footer__tel +7 (968) 081 96 76
			a.footer__order(href="#") Заказать звонок
// end footer 