// begin header 
header.header
	.container_center

		.header__logo
			a(href="#")
				img(src="img/logo.png")
			.header__logoSub
				|Первое брендинговое агентство 
				|для промышленных предприятий

		.header__action
			.header__actionItem
				a(href="tel:+7 (968) 081 96 76") +7 (968) 081 96 76
			.header__actionItem
				a(href="").header__call Заказать звонок

		//- // begin navbar 

		//- ul.navbar

			li.navbar__item
				a.navbar__link Item_1
			li.navbar__item
				a.navbar__link Item_2
			li.navbar__item
				a.navbar__link Item_3

		//- // end navbar 

// end header 