script(src="js/browserDetect.js")
script(src="js/jquery.js")
script(src="js/modal.js")
script(src="js/slick.min.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6xBYxta7psDhgHr88kpkDQ3bXdfMgxy8")
script(src="js/google-maps.js")
script(src="js/function.js?"+versionsFront+"")
