// begin brandScreen
section#brandScreen.brandScreen
	.container_center
		.brandScreen__container
			h2.section__title Бренд &ndash;<span>это не логотип</span>
			p.brandScreen__text.
				Это ценность, которая создает 
				добавленную стоимость<br> 
				и обеспечивает конкурентоспособность
			p.brandScreen__small.
				В отличие от логотипа, бренд – это устойчивый образ компании и продукта, сформированный 
				в сознании потребителя.
			.brandScreen__deposit.
					Компании по всему миру
					<span>вкладывают огромные деньги</span>
					в свои бренды:
			ul.brandScreen__list
				li.brandScreen__item.
					<span>ABB</span> инвестирует в установку <span>быстрых зарядных станций для электротранспорта</span> по всему миру, расширяя географию присутствия и создавая новый канал коммуникации с потребителем.
				li.brandScreen__item.
					<span>Boeing</span> инвестирует в разработку <span>персонального летательного аппарата</span>, подкрепляя свой статус новатора и лидера отрасли.
				li.brandScreen__item.
					Военно-промышленная корпорация <span>Lockheed Martin</span> предоставляет свои новейшие разработки для съемки <span>«Трансформеров»</span>, тем самым подтверждая свое глобальное лидерство.
		.brandScreen__solarSystem.
			Идея и эмоция,<br> 
			которую транслирует бренд, 
			определяет позицию 
			компании на рынке  
	ul.brandScreen__element
		li
		li
			
// end brandScreen