// begin fScreen
section#fScreen.fScreen
	.container_center
		.fScreen__left
			h1.section__title Создадим сильный бренд и увеличим прибыль компании на 20%
			.fScreen__sub Повышайте узнаваемость, привлекайте <br>топ-клиентов и будьте лидером рынка
			.fScreen__action
				.fScreen__actionName Скачайте презентацию с описанием <br>услуг и примерами работ

				.fScreen__btn
					button.btn.btn_img 
						img(src="img/btn_joornal.png", alt="")
						|Скачать презентацию, PDF
		.fScreen__img
			img(src="img/kohl-lg.png", alt="")
			.fScreen__signature
				.fScreen__name александр кооль
				.fScreen__nameSub Основатель и генеральный директор <br>ООО KOHLDESIGN

			
// end fScreen