// begin map
section.section
	.container_center

		h2.section__title.section__mapTitle наш адрес
			img.map__element(src="img/element-2.png", alt="")
		
		.map__wrap
			.map#map
			.map__info
				.map__info_item
					.map__left
						span.icon-house.map__firstpIcon
					.map__right Большая Дмитровка <br>23 строение 1, <br>Москва, 125009
				.map__info_item
					.map__left
						span.icon-letter.map__secondIcon
					.map__right info@kohldesign.ru
				.map__infoArrow

		.map__down
			.map__down_item
				.map__downIcon
					span.icon-house
				.map__downInfo Большая Дмитровка <br>23 строение 1, <br>Москва, 125009
			.map__down_item
				.map__downIcon
					span.icon-letter.map__downIcon_small
				.map__downInfo info@kohldesign.ru

// end map