// begin meeting 
section.section
	.container_center

		h2.section__title.section__meetingTitle Мы готовы приехать на встречу лично, <br>
			span.section__title_left в любую точку страны, 
			.section__sub.section__title_left чтобы обсудить детали работы
			img.meeting__element(src="img/element-2.png", alt="")

		.meeting
			.meeting__wrap
				img.meeting__img(src="img/meeting/planet.png", alt="")
				//- .meeting__shadow
				.meeting__point.meeting__amsterdam
					|Амстердам 
					span.icon-point.meeting__icon
					.meeting__tooltip.meeting__amsterdamTooltip
						img(src="img/meeting/politie_logo.png", alt="")
						span.meeting__arrow_top.meeting__amsterdamArrow
							img(src="img/meeting/arrow_top.png", alt="")
				.meeting__point.meeting__barentsevo
					span.icon-point.meeting__icon
					|Баренцево море
					.meeting__tooltip.meeting__barentsevoTooltip
						img(src="img/meeting/shtokman.png", alt="")
						span.meeting__arrow_down.meeting__barentsevoArrow
							img(src="img/meeting/arrow_down.png", alt="")
				.meeting__point.meeting__germany
					span.icon-point.meeting__icon
					|Германия
					.meeting__tooltip.meeting__germanyTooltip
						img(src="img/meeting/bmw.png", alt="")
						img(src="img/meeting/mini.png", alt="")
						img(src="img/meeting/thyssenkrupp.png", alt="")
						span.meeting__arrow_down.meeting__germanyArrow
							img(src="img/meeting/arrow_down.png", alt="")
				.meeting__point.meeting__czech
					span.icon-point.meeting__icon
					|Чехия
					.meeting__tooltip.meeting__czechTooltip
						img(src="img/meeting/skoda.png", alt="")
						span.meeting__arrow_top.meeting__czechArrow
							img(src="img/meeting/arrow_top.png", alt="")
				.meeting__point.meeting__moscow
					span.icon-point.meeting__icon
					|Москва
					.meeting__tooltip.meeting__moscowTooltip
						img(src="img/meeting/rosteh.png", alt="")
						img(src="img/meeting/tehnodinamika.png", alt="")
						img(src="img/meeting/minpromtorg.png", alt="")
						span.meeting__arrow_down.meeting__moscowArrow
							img(src="img/meeting/arrow_down.png", alt="")
				.meeting__point.meeting__sochi
					span.icon-point.meeting__icon
					|Сочи
					.meeting__tooltip.meeting__sochiTooltip
						img(src="img/meeting/sirius.png", alt="")
						img(src="img/meeting/sochi.png", alt="")
						span.meeting__arrow_top.meeting__sochiArrow
							img(src="img/meeting/arrow_top.png", alt="")
				.meeting__point.meeting__izhevsk
					span.icon-point.meeting__icon
					|Ижевск
					.meeting__tooltip.meeting__izhevskTooltip
						img(src="img/meeting/kalashnikov.png", alt="")
						span.meeting__arrow_left.meeting__izhevskArrow
							img(src="img/meeting/arrow_left.png", alt="")
				.meeting__point.meeting__kazan
					span.icon-point.meeting__icon
					|Казань, Татарстан
					.meeting__tooltip.meeting__kazanTooltip
						img(src="img/meeting/tatarstan.png", alt="")
						span.meeting__arrow_left.meeting__kazanArrow
							img(src="img/meeting/arrow_left.png", alt="")
				.meeting__point.meeting__gudermes
					span.icon-point.meeting__icon
					|Чеченская Республика, Гудермес
					.meeting__tooltip.meeting__gudermesTooltip
						img(src="img/meeting/rus.png", alt="")
						span.meeting__arrow_top.meeting__gudermesArrow
							img(src="img/meeting/arrow_top.png", alt="")
			img.meeting__meteorite_06(src="img/meeting/meteorite_06.png", alt="")
			img.meeting__meteorite_07(src="img/meeting/meteorite_07.png", alt="")
// end meeting 