//- // Button trigger modal modalDescript 
//- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalDescript") Click to open modal
// Begin Modal modalRosteh 
.modal.fade.modalRosteh#modalDescript
	.modal-dialog
		// begin modal__rosteh
		.modal.modal__rosteh
			a.form__close(href="#" class="modal-close" data-dismiss="modal")
			.modal__title Ростех
			ul.modal__list
				li
					span результат
				li
					span Процесс
				li.active
					span Причины

			.modal__text.hide
				h4 Результат
				ul
					li <b>Открытость</b> – Ростех возглавляет рейтинг российских госкорпораций, который отражает заметность бренда и первых лиц компаний в СМИ. 

					li <b>Сайт</b>  – занимает первое место по посещаемости среди всех российских госкорпораций и подчеркивает новый тренд – ориентацию на информационную прозрачность. 

					li <b>Бренд</b>  – первый и единственный «цифровой» промышленный бренд России. Первый промышленный бренд, о котором заговорили в интернете.

					li <b>Репутация</b>  – надежный партнер, выполняющий свои обязательства вне зависимости от внешних обстоятельств.

					li <b>Имидж </b> – современная промышленная корпорация, ускоритель развития,  трансформатор российской промышленности, драйвер прогресса в технологиях.

					li <b>Публикации</b>  – меньше 1% негативных упоминаний о корпорации.
			.modal__text.hide
				h4 Процесс
				p Оформление новой философии госкорпорации. Название изменено на более звучное и лаконичное – Ростех. 
				p Новый логотип – открытый квадрат, символизирующий одновременно окно в мир и рамку фокуса. Слоган выражает идеологию бренда – «Партнер в развитии».
				p Изменился весь образ корпорации: логотип, фирменный стиль, слоган, шрифт, фотостиль – каждая деталь имеет смысл и говорит о целях корпорации. «Ростех» получил новый мультимедийный сайт на семи языках. Также у «Ростеха» есть свои видеоблоги, Facebook, Twitter, «ВКонтакте» и канал на YouTube. Название компании было сокращено с «Ростехнологий» до «Ростеха», а логотип изменен со звезды на квадрат, при этом Корпорация стала проводить более открытую публичную политику. От бренда Госкорпорации руководство вышло на стратегическую задачу повышения капитализации холдинговых компаний за счет формирования международных промышленных брендов на рынке высокотехнологичной продукции. 

			.modal__text
				h4 Причины для брендинга
				p Провели исследование на мировом рынке. Оказалось, что «Ростех» никто не понимает. Вредили два фактора: длинное и сложно название «Ростехнологии», а также звезда и цвета в логотипе, ассоциация с СССР. Воспринимали как закрытую, непонятная структуру. Поэтому было принять решение о ребрендинге. Не просто перерисовать логотип, а переосмыслить бренд: что говорит бренд? какие смыслы он несет миру? куда и как он хочет развиваться?

			.modal__gradient

		// end modal__rosteh
// End modal modalRosteh 

//- // Button trigger modal modalDescript 
//- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalDescript1") Click to open modal
// Begin Modal Kalash 
.modal.fade.modalRosteh#modalDescript1
	.modal-dialog
		// begin modal__rosteh
		.modal.modal__rosteh
			a.form__close(href="#" class="modal-close" data-dismiss="modal")
			.modal__title калашников концерн
			ul.modal__list.modal__list_bigTitle
				li
					span результат
				li
					span Процесс
				li.active
					span Причины

			.modal__text.hide
				h4 Результат
				p Новый логотип состоит из двух цветов – красного и черного. Он образован двумя буквами «К», взятыми из названия «Концерн Калашников». Кроме того, в рисунке содержится изображение пули, вылетающей из ствола, а также использованы цвета флага Удмуртии.
				p В конце 2014 года концерн представил новую концепцию развития, а вместе с ней и новые бренды: корпоративный бренд концерна, а также продуктовые бренды боевое оружие Калашников, охотничье оружие Ижмаш и спортивное стрелковое оружие Байкал.
				p Презентация нового бренда впервые с Олимпиады в Сочи заставила весь мир говорить о России в положительном ключе. В мировых СМИ вышло более 2 000 позитивных публикаций в 37 странах о презентации нового бренда Концерна. В том числе в таких изданиях как Guardian, Independent, Washington Post, People Daily, CNN, Xinhua, Al Jazeera. В течение недели новый бренд и слоган продуктовой линейки Калашникова обсуждались в мировом сообществе и заслужили высочайшую оценку экспертного сообщества.


			.modal__text.hide
				h4 Процесс
				ul
					li В 2014 году «Концерн Калашников» начал кампанию по ребрендингу, объявив о новой философии самого известного в мире автомата: «оружие мира». 

					li Полный спектр работ был выполнен не только по корпоративному, но и по 3 продуктовым брендам – «Калашников», «Байкал» и «ИЖМАШ». 

					li Также разработан единый фирменный стиль для всех рекламных макетов, выставочных павильонов и фирменных зон концерна в магазинах.

					li Кроме этого, в рамках ребрендинга были разработаны предложения по формированию линейки фирменных аксессуаров и одежды, которая позволит еще больше популяризовать концерн и его деятельность.

			.modal__text
				h4 Причины для брендинга
				p В 2011 году НПО «Ижмаш» находилось на грани банкротства. Вмешательство ГК Ростех позволило сохранить предприятие, которое было переименовано в концерн Калашников и стало головным предприятием нового оружейного холдинга. 
				p Бренд «Калашников» ставит перед собой важнейшую цель на ближайшие годы – развитие эргономики и промышленного дизайна. 
				p Несовременный бренд, не отражающий новую стратегию Концерна
				p Конкуренция с мировыми лидерами оружейной промышленности невозможна без сильного, узнаваемого бренда
				p Падение продаж продукции Концерна Путаница в линейке продукции Концерна в умах потребителей
				p Художественная несостоятельность примитивности и старомодность старого логотипа
				p Негативные ассоциации у международной общественности с Калашниковым как оружием террористов

			.modal__gradient

		// end modal__rosteh
// End modal Kalash 

//- // Button trigger modal modalDescript 
//- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalDescript3") Click to open modal
// Begin Modal Технодинамика 
.modal.fade.modalRosteh#modalDescript3
	.modal-dialog
		// begin modal__rosteh
		.modal.modal__rosteh
			a.form__close(href="#" class="modal-close" data-dismiss="modal")
			.modal__title Технодинамика
			ul.modal__list
				li
					span результат
				li
					span Процесс
				li.active
					span Задача

			.modal__text.hide
				h4 Результат
				p Свое отражение новая идеология компании нашла и в дизайне, основанном на метафоре северного сияния и символизирующем энергию и стремление выйти за рамки возможного.
			.modal__text.hide
				h4 Процесс
				p В результате ребрендинга компания получила имя Технодинамика и определила свою ключевую идею — решение нетривиальных задач в аэрокосмической отрасли. Ключевой фигурой в этом процессе становится инженер, а человеческий капитал выступает на первый план развития предприятия. Новый бренд сочетает в себе традиции русской инженерной школы и новейших наработок в области высоких технологий.

			.modal__text
				h4 Задача
				p В 2009 году 36 компаний российской авиапромышленности были объединены в холдинг «Авиационное оборудование», призванный преодолеть отставание, накопившееся в отрасли. 

				p Холдинг должен был стать поставщиком первого уровня на российском рынке и надежным партнером крупнейших зарубежных игроков. Разработанная стратегия включала в себя фундаментальные изменения, которые необходимо было поддержать новому бренду.

			.modal__gradient

		// end modal__rosteh
// End modal Технодинамика 

//- // Button trigger modal modalDescript 
//- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalDescript4") Click to open modal
// Begin Modal Минпромторг 
.modal.fade.modalRosteh#modalDescript4
	.modal-dialog
		// begin modal__rosteh
		.modal.modal__rosteh
			a.form__close(href="#" class="modal-close" data-dismiss="modal")
			.modal__title Минпромторг
			ul.modal__list
				li
					span результат
				li
					span Процесс
				li.active
					span Задача

			.modal__text.hide
				h4 Результат
				ul
					li Новая визуальная идентичность Минпромторга подчёркивает роль и деятельность министерства как регулятора и гаранта развития промышленного потенциала России. Новый образ Минпромторга также доносит четкое видение миссии и направления работы Министерства. 

					li В конце 2014 года Д. Мантуров вошел в рейтинг наиболее «прозрачных» министров, составленный Всероссийским центром изучения общественного мнения (7 место, +19 позиций в рейтинге).

					li Менее чем за год количество подписчиков в соц сетях увеличилось более чем в 5 раз (с 8000 до 44000). Каждый месяц более 500 000 пользователей социальных сетей видят новости посты Минпромторга в ленте новостей.

			.modal__text.hide
				h4 Процесс
				p Проведение исследований.
				p Разработка платформы бренда МПТ
				p Разработка дизайна бренда
				p Разработка единого фирменного стиля МПТ
				p Создание единого, современного визуального контура Министерства
				p Создан собственный фото и видео-банк


			.modal__text
				h4 Задача
				p Отсутствие структурованных коммуникаций. Раздробленность и фрагментарность коммуникаций. Как следствие, невозможность донесения правильных месседжей до целевых
				p Отсутствие понимания роли коммуникаций в достижении целей деятельности Министерства
				p Отсутствие ясных коммуникационных задач Размытый и непонятный образ МПТ в сознании общественности
				p Несоответствие реальных достижений министерства и мест в ключевых для МПТ рейтингах
				p Низкая узнаваемость и цитируемость Д.В. Мантурова
				p Отсутствие коммуникаций в интернете. Моральное устаревание коммуникаций от лица Министерства
				p Отсутствие антикризисных коммуникаций. Несоответствие информационной повестки министерства актуальным вопросам
				p ”Выключенность” МПТ из международной информационной повестки

			.modal__gradient

		// end modal__rosteh
// End modal Минпромторг 

//- // Button trigger modal modalDescript 
//- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalDescript5") Click to open modal
// Begin Modal Штокман АГ 
.modal.fade.modalRosteh#modalDescript5
	.modal-dialog
		// begin modal__rosteh
		.modal.modal__rosteh
			a.form__close(href="#" class="modal-close" data-dismiss="modal")
			.modal__title Штокман АГ
			ul.modal__list
				li
					span результат
				li
					span Процесс
				li.active
					span Задача

			.modal__text.hide
				h4 Результат

			.modal__text.hide
				h4 Процесс


			.modal__text
				h4 Задача
				p Разработать общую платформу ценностей для мультинационального и полилингвального русско-франко-норвежского компании «Штокман Девелопмент АГ»
				p Выразить основные принципы проекта по освоению Штокмановского газового месторождения в Баренцовом море - экологичность, прогрессивность, гармоничное отношение к окружающей среде, настроенность на диалог со всеми целевыми аудиториями - в визуальной идентичности бренда
				p Компания «Штокман Девелопмент АГ» была образована 15 февраля 2008 года для проектирования, финансирования, строительства и эксплуатации комплексного освоения Штокмановского газоконденсатного месторождения. Компания будет выступать собственником инфраструктуры на протяжении 25 лет с момента ввода месторождения в эксплуатацию. Маркетингом газа, добытого в рамках проекта, будет заниматься ОАО «Газпром».

			.modal__gradient

		// end modal__rosteh
// End modal Штокман АГ 

//- // Button trigger modal modalDescript 
//- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalDescript6") Click to open modal
// Begin Modal Thyssen Krupp 
.modal.fade.modalRosteh#modalDescript6
	.modal-dialog
		// begin modal__rosteh
		.modal.modal__rosteh
			a.form__close(href="#" class="modal-close" data-dismiss="modal")
			.modal__title Thyssen Krupp
			ul.modal__list.modal__list_short
				li
					span Задача
				li.active
					span Описание

			.modal__text.hide
				h4 Задача
				ul
					li Обновление дизайна бренда ThyssenKrupp

					li От «диверсифицированного технологичного концерна с высокой компетентностью по строительным материалам» до интегрированного технологичного бренда

					li От корпоративной ориентации к ориентации на потребителя

					li От индивидуальных навыков к общей силе

					li От многообразия к единству


			.modal__text
				h4 Описание
				p Thyssen Krupp — один из крупнейших промышленных концернов Германии, основан 17 марта 1999 года. Концерн возник в результате слияния двух фирм: Thyssen AG и Friedrich Krupp AG Hoesch-Krupp. ТиссенКрупп АГ является крупнейшим в мире производителем высоколегированной стали, а также металлообрабатывающих станков. Концерн занимает ведущие позиции в мире по производству листовой нержавеющей стали, лифтов и эскалаторов. ТюссенКрупп разделена на такие отраслевые сегменты, как: сталь, нержавеющая сталь, лифты и эскалаторы, автомобильные компоненты, технологии, материалы, услуги. Имеет клиентов более чем в 160 странах мира и дочерние предприятия или представительства более чем в 80 странах мира. Число сотрудников концерна ТиссенКрупп превысило 158 000 человек и товарооборот достигает €43 миллиардов.


			.modal__gradient

		// end modal__rosteh
// End modal Thyssen Krupp 

//- // Button trigger modal modalDescript 
//- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalDescript7") Click to open modal
// Begin Modal РУСС 
.modal.fade.modalRosteh#modalDescript7
	.modal-dialog
		// begin modal__rosteh
		.modal.modal__rosteh
			a.form__close(href="#" class="modal-close" data-dismiss="modal")
			.modal__title РУС
			ul.modal__list
				li
					span результат
				li
					span задача
				li.active
					span Описание

			.modal__text.hide
				h4 Результат
				ul
					li Название учебного заведения — Российский Университет Спецназа — отражает его универсальность, широкое разнообразие программ подготовки и государственный масштаб деятельности. Слоган «В знании — сила» воплощает основную идею Университета: победа в современных условиях достигается только путем сочетания силы, выносливости и отваги, с применением высокотехнологичного оружия, специальных навыков и глубоких знаний из широкого спектра дисциплин. Логотип исполнен в форме копья; он отражает силу, динамизм и стремление Университета к постоянному расширению во всё новые сферы деятельности. В контрформе логотипа угадываются стрела, пуля и артиллерийский снаряд. 

					li Идея экспансии и умножения, заложенная в знаке, позиционирует Университет как мощную платформу, на базе которой в дальнейшем будут возникать новые компетенции, продукты, технологии и направления подготовки.


			.modal__text.hide
				h4 задача
				ul
					li Создание бренда мирового класса, увеличивающего конкурентоспособность Центра на мировой профессиональной арене, его инвестиционную привлекательность и возможности для коммерческого роста.

					li Сильный бренд Центра, как успешного коммерчески независимого проекта, рассчитанного не только на военные, но и гражданские аудитории и открытого для контакта со СМИ, должен внести существенный вклад в улучшение общего имиджа Чеченской республики в федеральном масштабе, в том числе как привлекательного туристического направления.



			.modal__text
				h4 Описание
				p.
					РУС – российский университет спецназа. 
					<br><br>
					Причины для брендинга
					Сложность вызывает отсутствие уникального названия и логотипа Центра, бренд-архитектуры, учитывающей различные направления подготовки, а также системы графическо-визуальной идентификации, отражающих его характеристики, лидерские позиции и инновации, что в долгосрочной перспективе не позволяет разработать целостную коммуникационную стратегию и создать единый запоминающийся образ в сознании целевых групп.
			.modal__gradient

		// end modal__rosteh
// End modal РУСС 

//- // Button trigger modal modalDescript 
//- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalDescript8") Click to open modal
// Begin Modal САЛАИР 
.modal.fade.modalRosteh#modalDescript8
	.modal-dialog
		// begin modal__rosteh
		.modal.modal__rosteh
			a.form__close(href="#" class="modal-close" data-dismiss="modal")
			.modal__title САЛАИР
			ul.modal__list
				li
					span результат
				li
					span задача
				li.active
					span Описание

			.modal__text.hide
				h4 Результат
				ul
					li Новый визуальный образ компании отражает мужественность, зрелость, лаконичность и технологичность. Также надёжность, уверенность и безопасность, мужественность

					li «Салаир» расширяет пространство и обеспечивает надежный контроль над временем, закладывая основу для успеха в конкурентной борьбе. <br><br>

						a(href="www.salairtrans.ru") www.salairtrans.ru


			.modal__text.hide
				h4 задача
				ul
					li Снизить уровень зависимости от якорного клиента

					li Быть комплексным оператором по всему спектру логистических услуг (авто, ж/д и т.д.)

					li Расширить клиентскую базу, в первую очередь, в промышленном секторе

					li Быть высокотехнологичной компанией


			.modal__text
				h4 Описание
				ul
					li Салаир - комплексная логистика

					li ООО «Салаир» разрабатывает и внедряет комплексные решения в промышленной логистике. Компания создает технологические процессы, обеспечивающие надежное, четкое и бесперебойное функционирование производственных цепочек крупных корпораций. География проникновения сети компании позволяет решать логистические задачи любого характера и сложности в любой точке России и мира.

			.modal__gradient

		// end modal__rosteh
// End modal САЛАИР 

//- // Button trigger modal modalDescript 
//- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalDescript111") Click to open modal
// Begin Modal калашников 1 
.modal.fade.modalRosteh#modalDescript111
	.modal-dialog
		// begin modal__rosteh
		.modal.modal__rosteh
			a.form__close(href="#" class="modal-close" data-dismiss="modal")
			.modal__title калашников
			//- ul.modal__list
				li
					span результат
				li
					span задача
				li.active
					span Описание

			.modal__text
				h4 Описание
				p В Концерн Калашников входят 3 продуктовых оружейных бренда: «Калашников» – боевое и гражданское оружие, «Baikal» – охотничье и гражданское оружие, «IZHMASH» – спортивное оружие. Новыми направлениями деятельности Концерна являются: дистанционно-управляемые боевые модули, беспилотные летательные аппараты и многофункциональные катера специального назначения. <br><br>

					a(href="www.kalashnikov.com") www.kalashnikov.com
			.modal__gradient

		// end modal__rosteh
// End modal калашников 1 

//- // Button trigger modal modalDescript 
//- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalDescript9") Click to open modal
// Begin Modal Байкал 
.modal.fade.modalRosteh#modalDescript9
	.modal-dialog
		// begin modal__rosteh
		.modal.modal__rosteh
			a.form__close(href="#" class="modal-close" data-dismiss="modal")
			.modal__title Байкал
			//- ul.modal__list
				li
					span результат
				li
					span задача
				li.active
					span Описание

			.modal__text
				h4 Описание
				p В Концерн Калашников входят 3 продуктовых оружейных бренда: «Калашников» – боевое и гражданское оружие, «Baikal» – охотничье и гражданское оружие, «IZHMASH» – спортивное оружие. Новыми направлениями деятельности Концерна являются: дистанционно-управляемые боевые модули, беспилотные летательные аппараты и многофункциональные катера специального назначения. <br><br>

					a(href="www.kalashnikov.com") www.kalashnikov.com
			.modal__gradient

		// end modal__rosteh
// End modal Байкал 

//- // Button trigger modal modalDescript 
//- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalDescript10") Click to open modal
// Begin Modal ИЖМАШ
.modal.fade.modalRosteh#modalDescript10
	.modal-dialog
		// begin modal__rosteh
		.modal.modal__rosteh
			a.form__close(href="#" class="modal-close" data-dismiss="modal")
			.modal__title ИЖМАШ

			//- ul.modal__list
				li
					span результат
				li
					span задача
				li.active
					span Описание

			.modal__text
				h4 Описание
				p В Концерн Калашников входят 3 продуктовых оружейных бренда: «Калашников» – боевое и гражданское оружие, «Baikal» – охотничье и гражданское оружие, «IZHMASH» – спортивное оружие. Новыми направлениями деятельности Концерна являются: дистанционно-управляемые боевые модули, беспилотные летательные аппараты и многофункциональные катера специального назначения <br><br>

					a(href="www.kalashnikov.com") www.kalashnikov.com
			.modal__gradient

		// end modal__rosteh
// End modal ИЖМАШ
 

//- // Button trigger modal modalDescript 
//- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalDescript11") Click to open modal
// Begin Modal BLL 
.modal.fade.modalRosteh#modalDescript11
	.modal-dialog
		// begin modal__rosteh
		.modal.modal__rosteh
			a.form__close(href="#" class="modal-close" data-dismiss="modal")
			.modal__title BLL
			ul.modal__list.modal__list_short
				li
					span результат
				li.active
					span Причины

			.modal__text.hide
				h4 Результат
				p Специалисты в окрасочном оборудовании, поставляющие и локализующие на российском рынке продукцию лучших европейских производителей. Их экспертиза основывается на многолетнем опыте и практическом знании новейших тенденций окрасочной индустрии. Они обеспечивают полный комплекс инжиниринговых услуг: от выбора оборудования до проектирования линии и монтажа. <br><br>

					a(href="www.bll-mes.com") www.bll-mes.com
			.modal__text
				h4 Причины для брендинга
				p Консервативный образ компании
				p Не понятно, мы поставщик импортного оборудования или инжиниринговая компания?
				p Необходимость развивать другие направления бизнеса слабо развита практика активных продаж
				p В компании есть потребность в выстраивании новой структуры управления, основанной на открытой коммуникации, личной ответственности и высокой мотивации
				p Хотим быть причастными инновациям 21 века и концепции «Индустрия 4.0».

			.modal__gradient

		// end modal__rosteh
// End modal BLL 

//- // Button trigger modal modalDescript 
//- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalDescript12") Click to open modal
// Begin Modal КРЭТ 
.modal.fade.modalRosteh#modalDescript12
	.modal-dialog
		// begin modal__rosteh
		.modal.modal__rosteh
			a.form__close(href="#" class="modal-close" data-dismiss="modal")
			.modal__title КРЭТ
			ul.modal__list.modal__list_short
				li
					span задача
				li.active
					span Описание

			.modal__text.hide
				h4 задача
				ul
					li
						b Создать отличие <br>
						|Брендинг дает возможность подчеркнуть особенности нашего продукта; то, что отличает наше предложение и делает его привлекательнее других. Успешный брендинг повышает эффективность продукта или огранизации. И если раньше это был один из многих, похожих между собой товаров, то теперь у него появляется свой уникальный характер. Он может создать эмоциональный резонанс в умах потребителей, которые, выбирая продукт, исходят как из эмоциональных, так и из практических соображений.

					li
						b Повысить ценность <br>
						|В целом, потребители согласны платить большую сумму за брендированный продукт, чем за простой немаркированный товар. Бренд также можно развить за счет дополнительных предложений.

					li
						b Установить связь с людьми <br>
						|Устанавливать связи с людьми важно для любых организаций, и бренд помогает в этом, воплощая качества, привлекательные для клиентов.




			.modal__text
				h4 Описание
				p
					b КРЭТ – АО «Концерн Радиоэлектронные технологии» <br><br>

					|Является разработчиком авионики для ведущих образцов российской военной авиации, а также для пилотируемого космического корабля «Союз-ТМА». Холдинг в области средств радиоэлектронной борьбы и государственного опознавания, комплексов радиоэлектронного оборудования. Сегодня КРЭТ является крупнейшим в России холдингом, который объединяет более 70 организаций радиоэлектронной промышленности. Их деятельность связана с разработкой и производством средств радиоэлектронной борьбы и разведки, государственного опознавания, комплексов и систем бортового радиоэлектронного оборудования, измерительной аппаратуры специального назначения, а также разъемных электрических соединителей и кабельной продукции.



			.modal__gradient

		// end modal__rosteh
// End modal КРЭТ 

//- // Button trigger modal modalDescript 
//- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalDescript13") Click to open modal
// Begin Modal РЕНОВА 
.modal.fade.modalRosteh#modalDescript13
	.modal-dialog
		// begin modal__rosteh
		.modal.modal__rosteh
			a.form__close(href="#" class="modal-close" data-dismiss="modal")
			.modal__title РЕНОВА
			ul.modal__list
				li
					span результат
				li
					span Причины
				li.active
					span Описание

			.modal__text.hide
				h4 Результат
				p Компания освежила свой внешний облик и привела в порядок архитектуру бренда. Также обновила свой корпоративный брендбук и расширила коммуникационные каналы. 

			.modal__text.hide
				h4 Причины для фейслифтинга
				ul
					li Отсутствие фирменного стиля

					li Отсутствие чёткого распределения бренд архитектуры

					li Приведение в соответствие корпоративного брендбука



			.modal__text
				h4 Описание
				p Группа компаний «Ренова» — международная частная бизнес-группа, состоящая из управляющих компаний, фондов прямых и портфельных инвестиций, владеющих и управляющих активами в металлургической, горнодобывающей, химической, строительной отраслях, транспорте, энергетике, телекоммуникациях, высокотехнологическом машиностроении, ЖКХ, медицине и финансовом секторе в России и за рубежом (странах СНГ, Швейцарии, Италии, Южной Африке и США). Основана в 1990 году. 


			.modal__gradient

		// end modal__rosteh
// End modal РЕНОВА 

//- // Button trigger modal modalDescript 
//- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalDescript14") Click to open modal
// Begin Modal Kalash 
.modal.fade.modalRosteh#modalDescript14
	.modal-dialog
		// begin modal__rosteh
		.modal.modal__rosteh
			a.form__close(href="#" class="modal-close" data-dismiss="modal")
			.modal__title калашников
			ul.modal__list
				li
					span результат
				li
					span задача
				li.active
					span Описание

			.modal__text.hide
				h4 Результат

			.modal__text.hide
				h4 задача


			.modal__text
				h4 Описание

			.modal__gradient

		// end modal__rosteh
// End modal Kalash 

