//- // Button trigger modal modalDownload 
//- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalDownload") Click to open modal
// Begin Modal modalDownload 
.modal.fade.modalDownload#modalDownload
	.modal-dialog
		// Begin form__present
		form.form.form__present(id="present" action="send.php")
			input(type="hidden", name="subject" value="Форма - Скачать презентацию")
			a.form__close(href="#" class="modal-close" data-dismiss="modal")
			.form__title.form__title_element Скачайте презентацию<br>с описанием услуг и примерами работ
			.form__text.form__text_b Заполнив форму вы получите:
			ul.form__list
				li.form__item Подробную презентацию о компании
				li.form__item Описание этапов и условий работы
				li.form__item Примеры выполненных проектов
			.form__row
				.form__inputRow
					input.form__input(type="text" required name="name" placeholder="Ваше имя")
				.form__inputRow
					input.form__input(type="tel" required name="tel" placeholder="Введите номер телефона")
			.form__row.form__action
				button.btn.btn_danger(type="submit") Скачать презентацию
			.form__row.form__privacy
				input(type="checkbox" checked)#check5
				label(for="check5") Вы соглашаетесь с 
					a(href="#" data-toggle="modal" data-target="#privacyModal") условиями обработки персональных данных
			
		// End form__present

// End modal modalDownload 

//- // Button trigger modal modalAudit 
//- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalAudit") Click to open modal
// Begin Modal modalAudit 
.modal.fade.modalAudit#modalAudit
	.modal-dialog
		// Begin form__audit
		form.form.form__audit(id="audit" action="send.php")
			input(type="hidden", name="subject" value="Форма - Скачать пример аудита")
			a.form__close(href="#" class="modal-close" data-dismiss="modal")
			.form__title Скачайте пример аудита компании в формате PDF
			.form__text Заполните форму ниже, чтобы получить примеры аудита компании. 
					span Ссылка на скачивание будет доступна сразу же после отправки формы
			.form__subtext Руководитель проекта свяжется с вами, чтобы узнать подробности о компании
			.form__row
				.form__inputRow
					input.form__input(type="text" required name="name" placeholder="Ваше имя")
				.form__inputRow
					input.form__input(type="tel" required name="tel" placeholder="Введите номер телефона")
			.form__row.form__action
				button.btn.btn_danger(type="submit") Скачать пример аудита
			.form__row.form__privacy
				input(type="checkbox" checked)#check1
				label(for="check1") Вы соглашаетесь с 
					a(href="#" data-toggle="modal" data-target="#privacyModal") условиями обработки персональных данных
				
			// End form__audit 
// End modal modalAudit 


//- // Button trigger modal modalPromotion 
//- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalPromotion") Click to open modal
// Begin Modal modalPromotion 
.modal.fade.modalPromotion#modalPromotion
	.modal-dialog
		// Begin form__promotion
		form.form.form__promotion(id="promotion" action="send.php")
			input(type="hidden", name="subject" value="Форма - Скачать пример раскрутки")
			a.form__close(href="#" class="modal-close" data-dismiss="modal")
			.form__title Посмотрите примеры инструментов внедрения и раскрутки бренда
			.form__text Заполните форму ниже, чтобы получить примеры инструментов внедрения и раскрутки бренда компании. 
					span Ссылка на скачивание будет доступна сразу же после отправки формы
			.form__subtext Руководитель проекта свяжется с вами, чтобы узнать подробности о компании
			.form__row
				.form__inputRow
					input.form__input(type="text" required name="name" placeholder="Ваше имя")
				.form__inputRow
					input.form__input(type="tel" required name="tel" placeholder="Введите номер телефона")
			.form__row.form__action
				button.btn.btn_danger(type="submit") Скачать пример раскрутки
			.form__row.form__privacy
				input(type="checkbox" checked)#check2
				label(for="check2") Вы соглашаетесь с 
					a(href="#" data-toggle="modal" data-target="#privacyModal") условиями обработки персональных данных
		// End form__promotion
// End modal modalPromotion 


//- // Button trigger modal modalLayout 
//- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalLayout") Click to open modal
// Begin Modal modalLayout 
.modal.fade.modalLayout#modalLayout
	.modal-dialog
		// Begin form__layout
		form.form.form__layout(id="layout" action="send.php")
			input(type="hidden", name="subject" value="Форма - Посмотреть примеры макетов")
			a.form__close(href="#" class="modal-close" data-dismiss="modal")
			.form__title Посмотрите примеры дизайн-макетов, которые вы получите
			.form__text Заполните форму ниже, чтобы получить примеры дизайн-макетов. 
					span Ссылка на скачивание будет доступна сразу же после отправки формы
			.form__subtext Руководитель проекта свяжется с вами, чтобы узнать подробности о компании
			.form__row
				.form__inputRow
					input.form__input(type="text" required name="name" placeholder="Ваше имя")
				.form__inputRow
					input.form__input(type="tel" required name="tel" placeholder="Введите номер телефона")
			.form__row.form__action
				button.btn.btn_danger(type="submit") Посмотреть примеры макетов
			.form__row.form__privacy
				input(type="checkbox" checked)#check3
				label(for="check3") Вы соглашаетесь с 
					a(href="#" data-toggle="modal" data-target="#privacyModal") условиями обработки персональных данных
		// End form__layout
// End modal modalLayout 


//- // Button trigger modal modalStrategy 
//- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalStrategy") Click to open modal
// Begin Modal modalStrategy 
.modal.fade.modalStrategy#modalStrategy
	.modal-dialog
		// Begin form__strategy
		form.form.form__strategy(id="strategy" action="send.php")
			input(type="hidden", name="subject" value="Форма - Скачать пример стратегии")
			a.form__close(href="#" class="modal-close" data-dismiss="modal")
			.form__title Скачайте пример стратегии для компании в формате PDF
			.form__text Заполните форму ниже, чтобы получить примеры стратегии компании. 
					span Ссылка на скачивание будет доступна сразу же после отправки формы
			.form__subtext Руководитель проекта свяжется с вами, чтобы узнать подробности о компании
			.form__row
				.form__inputRow
					input.form__input(type="text" required name="name" placeholder="Ваше имя")
				.form__inputRow
					input.form__input(type="tel" required name="tel" placeholder="Введите номер телефона")
			.form__row.form__action
				button.btn.btn_danger(type="submit") Скачать пример стратегии
			.form__row.form__privacy
				input(type="checkbox" checked)#check4
				label(for="check4") Вы соглашаетесь с 
					a(href="#" data-toggle="modal" data-target="#privacyModal") условиями обработки персональных данных
		// End form__strategy
// End modal modalStrategy 


//- // Button trigger modal modalCalc 
//- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalCalc") Click to open modal
// Begin Modal modalCalc 
.modal.fade.modalCalc#modalCalc
	.modal-dialog
		// Begin form__calc
		form.form.form__calc(id="calc" action="send.php")
			input(type="hidden", name="subject" value="Форма - Получить расчет стоимости")
			a.form__close(href="#" class="modal-close" data-dismiss="modal")
			.form__title.form__title_element Получите расчет стоимости разработки вашего бренда
			.form__text.form__text_b Вместе с расчетом стоимости вы получите:
			ul.form__list
				li.form__item Подробную презентацию о компании
				li.form__item Описание этапов и условий работы
				li.form__item Примеры выполненных проектов
			.form__subtext Руководитель проекта свяжется с вами, чтобы узнать подробности о компании
			.form__row
				.form__inputRow
					input.form__input(type="text" required name="name" placeholder="Ваше имя")
				.form__inputRow
					input.form__input(type="tel" required name="tel" placeholder="Введите номер телефона")
			.form__row.form__action
				button.btn.btn_danger(type="submit") Получить расчет стоимости
			.form__row.form__privacy
				input(type="checkbox" checked)#check6
				label(for="check6") Вы соглашаетесь с 
					a(href="#" data-toggle="modal" data-target="#privacyModal") условиями обработки персональных данных
		// End form__calc
// End modal modalCalc 


//- // Button trigger modal modalDiscuss 
//- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalDiscuss") Click to open modal
// Begin Modal modalDiscuss 
.modal.fade.modalDiscuss#modalDiscuss
	.modal-dialog
		// Begin form__discuss
		form.form.form__discuss(id="discuss" action="send.php")
			input(type="hidden", name="subject" value="Форма - Обсудить проект")
			a.form__close(href="#" class="modal-close" data-dismiss="modal")
			.form__title.form__title_element Обсудите проект с директором компании KOHLDESIGN
			.form__text.form__text_b После разговора вы получите:
			ul.form__list
				li.form__item Рекомендации по усилению бренда
				li.form__item Варианты решения ваших задач
			.form__subtext Руководитель проекта свяжется с вами, чтобы узнать подробности о компании
			.form__row
				.form__inputRow
					input.form__input(type="text" required name="name" placeholder="Ваше имя")
				.form__inputRow
					input.form__input(type="tel" required name="tel" placeholder="Введите номер телефона")
			.form__row.form__action
				button.btn.btn_danger(type="submit") Обсудить проект
			.form__row.form__privacy
				input(type="checkbox" checked)#check7
				label(for="check7") Вы соглашаетесь с 
					a(href="#" data-toggle="modal" data-target="#privacyModal") условиями обработки персональных данных
		// End form__discuss
// End modal modalDiscuss 


//- // Button trigger modal modalAnalys 
//- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalAnalys") Click to open modal
// Begin Modal modalAnalys 
.modal.fade.modalAnalys#modalAnalys
	.modal-dialog
		// Begin form__analys
		form.form.form__analys(id="analys" action="send.php")
			input(type="hidden", name="subject" value="Форма - Получить анализ компании")
			a.form__close(href="#" class="modal-close" data-dismiss="modal")
			.form__title.form__title_element Получите бесплатный брендинговый анализ компании
			.form__text.form__text_b По результатам анализа вы поймете:
			.form__text.form__text_b.form__text_grey Что необходимо сделать, чтобы увеличить прибыль и повысить стоимость вашей компании
			.form__subtext Руководитель проекта свяжется с вами, чтобы узнать подробности о компании
			.form__row
				.form__inputRow
					input.form__input(type="text" required name="name" placeholder="Ваше имя")
				.form__inputRow
					input.form__input(type="tel" required name="tel" placeholder="Введите номер телефона")
			.form__row.form__action
				button.btn.btn_danger(type="submit") Получить анализ компании
			.form__row.form__privacy
				input(type="checkbox" checked)#check8
				label(for="check8") Вы соглашаетесь с 
					a(href="#" data-toggle="modal" data-target="#privacyModal") условиями обработки персональных данных
		// End form__analys
// End modal modalAnalys 


//- // Button trigger modal modalCallback 
//- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalCallback") Click to open modal
// Begin Modal modalCallback 
.modal.fade.modalCallback#modalCallback
	.modal-dialog
		// Begin form__callback
		form.form.form__callback(id="callback" action="send.php")
			input(type="hidden", name="subject" value="Форма - Закажите обратный звонок")
			a.form__close(href="#" class="modal-close" data-dismiss="modal")
			.form__title.form__title_element Закажите обратный звонок
			.form__row
				.form__inputRow
					input.form__input(type="text" required name="name" placeholder="Ваше имя")
				.form__inputRow
					input.form__input(type="tel" required name="tel" placeholder="Введите номер телефона")
			.form__text Удобная дата и время звонка
			.form__radio
				input(type="radio" name="form_radio" checked)#form_radio_1
				label(for="form_radio_1") Сейчас
				input(type="radio" name="form_radio")#form_radio_2
				label(for="form_radio_2") По времени
			.form__row#input_date
				.form__inputRow
					input.form__input(type="text" name="timeToCall" placeholder="Укажите дату и время")
			.form__row.form__action
				button.btn.btn_danger(type="submit") Заказать звонок
			.form__row.form__privacy
				input(type="checkbox" checked)#check9
				label(for="check9") Вы соглашаетесь с 
					a(href="#" data-toggle="modal" data-target="#privacyModal") условиями обработки персональных данных
			
		// End form__callback
// End modal modalCallback 

include modalDescription.jade


//- // <!-- Button trigger modal privacyModal -->
//- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#privacyModal") Click to open modal

// begin Modal privacyModal
.modal.fade.privacyModal#privacyModal
	.modal-dialog
		.modal-content
			a.form__close(href="#" class="modal-close" data-dismiss="modal")

			h2 Политика конфиденциальности
			
			p.
				Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в отношении всей информации, которую сайт «Время Первых»,  расположенный на доменном имени kohldesign.ru, может получить о Пользователе во время использования сайта , программ и продуктов. 
			p.
				<b>1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ</b>
			p.
				1.1.	В настоящей Политике конфиденциальности используются следующие термины: 
			p.
				1.1.1.	«Администрация сайта (далее – Администрация сайта) » – уполномоченные сотрудники на управления сайтом, действующие от имени Название организации,  которые организуют и (или) осуществляет обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.
			p.
				1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).
			p.
				1.1.3. «Обработка персональных данных» - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
			p.
				1.1.4. «Конфиденциальность персональных данных» - обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.
			p.
				1.1.5. «Пользователь сайта (далее   Пользователь)» – лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт.
			p.
				1.1.6. «Cookies» — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.
			p.
				1.1.7. «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.
			
			p.
				<b>2.	ОБЩИЕ ПОЛОЖЕНИЯ</b>
			p.
				2.1.	Использование Пользователем сайта означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.
			p.
				2.2.	В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование сайта.
			p.
				2.3.	Настоящая Политика конфиденциальности применяется только к сайту «Время Первых». Сайт не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайте. 
			p.
				2.4.	Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем сайта.
			
			p.
				<b>3.	ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ</b>
			p.
				3.1.	Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации сайта при регистрации на сайте  или при оформлении заказа для приобретения Товара.
			p.
				3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения регистрационной формы на Сайте «Время Первых» в разделе  оставления заявок и включают в себя следующую информацию: 
			p.
				3.2.1. фамилию, имя, отчество Пользователя; 
			p.
				3.2.2. контактный телефон Пользователя;
			p.
				3.2.3. адрес электронной почты (e-mail); 
			p.
				3.3.  защищает Данные, которые автоматически передаются в процессе просмотра рекламных блоков и при посещении страниц, на которых установлен статистический скрипт системы ("пиксель"):
				•	IP адрес;
				•	информация из cookies;
				•	информация о браузере (или иной программе, которая осуществляет доступ к показу рекламы);
				•	время доступа;
				•	адрес страницы, на которой расположен рекламный блок;
				•	реферер (адрес предыдущей страницы).
			p.
				3.3.1. Отключение cookies может повлечь невозможность доступа к частям сайта , требующим авторизации.
			p.
				3.3.2.  осуществляет сбор статистики об IP-адресах своих посетителей. Данная информация используется с целью выявления и решения технических проблем, для контроля законности проводимых финансовых платежей.
			p.
				3.4. Любая иная персональная информация неоговоренная выше (история покупок, используемые браузеры и операционные системы и т.д.) подлежит надежному хранению и нераспространению, за исключением случаев, предусмотренных в п.п. 5.2. и 5.3. настоящей Политики конфиденциальности.
			
			p.
				<b>4.	ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ</b>
			p.
				4.1. Персональные данные Пользователя Администрация сайта  может использовать в целях:
			p.
				4.1.1. Идентификации Пользователя, зарегистрированного на сайте.
			p.
				4.1.2. Предоставления Пользователю доступа к персонализированным ресурсам Сайта.
			p.
				4.1.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования Сайта, оказания услуг, обработка запросов и заявок от Пользователя.
			p.
				4.1.4. Определения места нахождения Пользователя для обеспечения безопасности, предотвращения мошенничества.
			p.
				4.1.5. Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.
			p.
				4.1.6. Создания учетной записи для совершения покупок, если Пользователь дал согласие на создание учетной записи.
			p.
				4.1.7. Уведомления Пользователя Сайта  о состоянии Заказа.
			p.
				4.1.8. Обработки и получения платежей, подтверждения налога или налоговых льгот, оспаривания платежа, определения права на получение кредитной линии Пользователем.
			p.
				4.1.9. Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем связанных с использованием Сайта . 
			p.
				4.1.10. Предоставления Пользователю с его согласия, обновлений продукции, специальных предложений, информации о ценах, новостной рассылки и иных сведений от имени сайта или от имени партнеров .
			p.
				4.1.11. Осуществления рекламной деятельности с согласия Пользователя.
			p.
				4.1.12. Предоставления доступа Пользователю на сайты или сервисы партнеров  с целью получения продуктов, обновлений и услуг.
			
			p.
				<b>5.	СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ</b>
			p.
				5.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств. 
			p.
				5.2. Пользователь соглашается с тем, что Администрация сайта вправе передавать персональные данные третьим лицам, в частности, курьерским службам, организациями почтовой связи, операторам электросвязи, исключительно в целях выполнения заказа Пользователя, оформленного на Сайте  «Время Первых», включая доставку Товара.
			p.
				5.3. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти Российской Федерации только по основаниям и в порядке, установленным законодательством Российской Федерации.
			p.
				5.4. При утрате или разглашении персональных данных Администрация сайта информирует Пользователя об утрате или разглашении персональных данных.
			p.
				5.5. Администрация сайта принимает необходимые организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.
			
			p.
				<b>6.	ОБЯЗАТЕЛЬСТВА СТОРОН</b>
			p.
				6.1. Пользователь обязан:
			p.
				6.1.1. Предоставить информацию о персональных данных, необходимую для пользования Сайтом.
			p.
				6.1.2. Обновить, дополнить предоставленную информацию о персональных данных в случае изменения данной информации.
			p.
				6.2. Администрация сайта обязана:
			p.
				6.2.1. Использовать полученную информацию исключительно для целей, указанных в п. 4 настоящей Политики конфиденциальности.
			p.
				6.2.2. Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование, либо разглашение иными возможными способами переданных персональных данных Пользователя, за исключением п.п. 5.2. и 5.3. настоящей Политики Конфиденциальности.
			p.
				6.2.3. Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя согласно порядку, обычно используемого для защиты такого рода информации в существующем деловом обороте.
			p.
				6.2.4. Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.
			
			p.
				<b>7.	ОТВЕТСТВЕННОСТЬ СТОРОН</b>
			p.
				7.1. В случае утраты или разглашения Конфиденциальной информации Администрация сайта не несёт ответственность, если данная конфиденциальная информация:
			p.
				7.1.1. Стала публичным достоянием до её утраты или разглашения.
			p.
				7.1.2. Была получена от третьей стороны до момента её получения Администрацией сайта.
			p.
				7.1.3. Была разглашена с согласия Пользователя.
			
			p.
				<b>8.	РАЗРЕШЕНИЕ СПОРОВ</b>
			p.
				8.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем сайта  и Администрацией сайта, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора). 
			p.
				8.2 .Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно уведомляет заявителя претензии о результатах рассмотрения претензии. 
			p.
				8.3. При не достижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством Российской Федерации.
			p.
				8.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией сайта применяется действующее законодательство Российской Федерации.
			
			p.
				<b>9.	ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ</b>
			p.
				9.1. Администрация сайта вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.
			p.
				9.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте , если иное не предусмотрено новой редакцией Политики конфиденциальности.
			p.
				9.3. Все предложения или вопросы по настоящей Политике конфиденциальности следует сообщать  указать раздел сайта 
			p.
				9.4. Действующая Политика конфиденциальности размещена на странице по адресу kohldesign.ru  адрес магазина.
			
			p.
				Для связи с администратором сайта по любым вопросам вы можете написать письмо на e-mail: kohl@kohldesign.ru
// end Modal privacyModal

