// Begin form__audit
form.form.form__audit(id="audit" action="")
	.form__title Скачайте пример аудита компании в формате PDF
	.form__text Заполните форму ниже, чтобы получить примеры аудита компании. 
			span Ссылка на скачивание будет доступна сразу же после отправки формы
	.form__subtext Руководитель проекта свяжется с вами, чтобы узнать подробности о компании
	.form__row
		.form__inputRow
			input.form__input(type="text" required name="name" placeholder="Ваше имя")
		.form__inputRow
			input.form__input(type="tel" required name="tel" placeholder="Введите номер телефона")
	.form__row.form__action
		button.btn.btn_danger(type="submit") Скачать пример аудита
	.form__row.form__privacy
		input(type="checkbox")#check1
		label(for="check1") Вы соглашаетесь с 
			a(href="#") условиями обработки персональных данных
	.form__close
// End form__audit 

// Begin form__promotion
form.form.form__promotion(id="promotion" action="")
	.form__title Посмотрите примеры инструментов внедрения и раскрутки бренда
	.form__text Заполните форму ниже, чтобы получить примеры аудита компании. 
			span Ссылка на скачивание будет доступна сразу же после отправки формы
	.form__subtext Руководитель проекта свяжется с вами, чтобы узнать подробности о компании
	.form__row
		.form__inputRow
			input.form__input(type="text" required name="name" placeholder="Ваше имя")
		.form__inputRow
			input.form__input(type="tel" required name="tel" placeholder="Введите номер телефона")
	.form__row.form__action
		button.btn.btn_danger(type="submit") Скачать пример раскрутки
	.form__row.form__privacy
		input(type="checkbox")#check2
		label(for="check2") Вы соглашаетесь с 
			a(href="#") условиями обработки персональных данных
	.form__close
// End form__promotion

// Begin form__layout
form.form.form__layout(id="layout" action="")
	.form__title Посмотрите примеры дизайн-макетов, которые вы получите
	.form__text Заполните форму ниже, чтобы получить примеры аудита компании. 
			span Ссылка на скачивание будет доступна сразу же после отправки формы
	.form__subtext Руководитель проекта свяжется с вами, чтобы узнать подробности о компании
	.form__row
		.form__inputRow
			input.form__input(type="text" required name="name" placeholder="Ваше имя")
		.form__inputRow
			input.form__input(type="tel" required name="tel" placeholder="Введите номер телефона")
	.form__row.form__action
		button.btn.btn_danger(type="submit") Посмотреть примеры макетов
	.form__row.form__privacy
		input(type="checkbox")#check3
		label(for="check3") Вы соглашаетесь с 
			a(href="#") условиями обработки персональных данных
	.form__close
// End form__layout

// Begin form__strategy
form.form.form__strategy(id="strategy" action="")
	.form__title Скачайте пример стратегии для компании в формате PDF
	.form__text Заполните форму ниже, чтобы получить примеры аудита компании. 
			span Ссылка на скачивание будет доступна сразу же после отправки формы
	.form__subtext Руководитель проекта свяжется с вами, чтобы узнать подробности о компании
	.form__row
		.form__inputRow
			input.form__input(type="text" required name="name" placeholder="Ваше имя")
		.form__inputRow
			input.form__input(type="tel" required name="tel" placeholder="Введите номер телефона")
	.form__row.form__action
		button.btn.btn_danger(type="submit") Скачать пример стратегии
	.form__row.form__privacy
		input(type="checkbox")#check4
		label(for="check4") Вы соглашаетесь с 
			a(href="#") условиями обработки персональных данных
	.form__close
// End form__strategy

// Begin form__present
form.form.form__present(id="present" action="")
	.form__title.form__title_element Скачайте презентацию<br>с условиями и примерами работ
	.form__text.form__text_b Заполнив форму вы получите:
	ul.form__list
		li.form__item Подробную презентацию о компании
		li.form__item Описание этапов и условий работы
		li.form__item Примеры выполненных проектов
	.form__row
		.form__inputRow
			input.form__input(type="text" required name="name" placeholder="Ваше имя")
		.form__inputRow
			input.form__input(type="email" required name="email" placeholder="Введите e-mail")
	.form__row.form__action
		button.btn.btn_danger(type="submit") Скачать презентацию
	.form__row.form__privacy
		input(type="checkbox")#check5
		label(for="check5") Вы соглашаетесь с 
			a(href="#") условиями обработки персональных данных
	.form__close
// End form__present

// Begin form__calc
form.form.form__calc(id="calc" action="")
	.form__title.form__title_element Получите расчет стоимости разработки вашего бренда
	.form__text.form__text_b Вместе с расчетом стоимости вы узнаете:
	ul.form__list
		li.form__item Подробную презентацию о компании
		li.form__item Описание этапов и условий работы
		li.form__item Примеры выполненных проектов
	.form__subtext Руководитель проекта свяжется с вами, чтобы узнать подробности о компании
	.form__row
		.form__inputRow
			input.form__input(type="text" required name="name" placeholder="Ваше имя")
		.form__inputRow
			input.form__input(type="tel" required name="tel" placeholder="Введите номер телефона")
	.form__row.form__action
		button.btn.btn_danger(type="submit") Получить расчет стоимости
	.form__row.form__privacy
		input(type="checkbox")#check6
		label(for="check6") Вы соглашаетесь с 
			a(href="#") условиями обработки персональных данных
	.form__close
// End form__calc

// Begin form__discuss
form.form.form__discuss(id="discuss" action="")
	.form__title.form__title_element Обсудите проект с директором компании KOHLDESIGN
	.form__text.form__text_b После разговора вы получите:
	ul.form__list
		li.form__item Рекомендации по усилению бренда
		li.form__item Варианты решения ваших задач
	.form__subtext Руководитель проекта свяжется с вами, чтобы узнать подробности о компании
	.form__row
		.form__inputRow
			input.form__input(type="text" required name="name" placeholder="Ваше имя")
		.form__inputRow
			input.form__input(type="tel" required name="tel" placeholder="Введите номер телефона")
	.form__row.form__action
		button.btn.btn_danger(type="submit") Обсудить проект
	.form__row.form__privacy
		input(type="checkbox")#check7
		label(for="check7") Вы соглашаетесь с 
			a(href="#") условиями обработки персональных данных
	.form__close
// End form__discuss

// Begin form__analys
form.form.form__analys(id="analys" action="")
	.form__title.form__title_element Получите бесплатный брендинговый анализ компании
	.form__text.form__text_b По результатам анализа вы поймете:
	.form__text.form__text_b.form__text_grey Что необходимо сделать, чтобы увеличить прибыль и повысить стоимость вашей компании
	.form__subtext Руководитель проекта свяжется с вами, чтобы узнать подробности о компании
	.form__row
		.form__inputRow
			input.form__input(type="text" required name="name" placeholder="Ваше имя")
		.form__inputRow
			input.form__input(type="tel" required name="tel" placeholder="Введите номер телефона")
	.form__row.form__action
		button.btn.btn_danger(type="submit") Получить анализ компании
	.form__row.form__privacy
		input(type="checkbox")#check8
		label(for="check8") Вы соглашаетесь с 
			a(href="#") условиями обработки персональных данных
	.form__close
// End form__analys

// Begin form__callback
form.form.form__callback(id="callback" action="")
	.form__title.form__title_element Закажите обратный звонок
	.form__row
		.form__inputRow
			input.form__input(type="text" required name="name" placeholder="Ваше имя")
		.form__inputRow
			input.form__input(type="tel" required name="tel" placeholder="Введите номер телефона")
	.form__text Удобная дата и время звонка
	.form__radio
		input(type="radio" name="form_radio" checked)#form_radio_1
		label(for="form_radio_1") Сейчас
		input(type="radio" name="form_radio")#form_radio_2
		label(for="form_radio_2") По времени
	.form__row#input_date
		.form__inputRow
			input.form__input(type="text" required placeholder="Укажите дату и время")
	.form__row.form__action
		button.btn.btn_danger(type="submit") Заказать звонок
	.form__row.form__privacy
		input(type="checkbox")#check9
		label(for="check9") Вы соглашаетесь с 
			a(href="#") условиями обработки персональных данных
	.form__close
// End form__callback

// begin modal__rosteh
.modal.modal__rosteh
	.modal__title Ростех
	.modal__text.hide
		h4 Причины для брендинга
		p Причины для брендинга<br>Провели исследование на мировом рынке. Оказалось, что «Ростех» никто не понимает. Вредили два фактора: длинное и сложно название «Ростехнологии», а также звезда и цвета в логотипе, ассоциация с СССР. Воспринимали как закрытую, непонятная структуру. Поэтому было принять решение о ребрендинге. Не просто перерисовать логотип, а переосмыслить бренд: что говорит бренд? какие смыслы он несет миру? куда и как он хочет развиваться?
		p Причины для брендинга<br>Провели исследование на мировом рынке. Оказалось, что «Ростех» никто не понимает. Вредили два фактора: длинное и сложно название «Ростехнологии», а также звезда и цвета в логотипе, ассоциация с СССР. Воспринимали как закрытую, непонятная структуру. Поэтому было принять решение о ребрендинге. Не просто перерисовать логотип, а переосмыслить бренд: что говорит бренд? какие смыслы он несет миру? куда и как он хочет развиваться?
		p Причины для брендинга<br>Провели исследование на мировом рынке. Оказалось, что «Ростех» никто не понимает. Вредили два фактора: длинное и сложно название «Ростехнологии», а также звезда и цвета в логотипе, ассоциация с СССР. Воспринимали как закрытую, непонятная структуру. Поэтому было принять решение о ребрендинге. Не просто перерисовать логотип, а переосмыслить бренд: что говорит бренд? какие смыслы он несет миру? куда и как он хочет развиваться?
	.modal__text.hide
		h4 Причины для брендинга
		p Причины для брендинга<br>Провели исследование на мировом рынке. Оказалось, что «Ростех» никто не понимает. Вредили два фактора: длинное и сложно название «Ростехнологии», а также звезда и цвета в логотипе, ассоциация с СССР. Воспринимали как закрытую, непонятная структуру. Поэтому было принять решение о ребрендинге. Не просто перерисовать логотип, а переосмыслить бренд: что говорит бренд? какие смыслы он несет миру? куда и как он хочет развиваться?
	.modal__text
		h4 Причины для брендинга
		p Причины для брендинга<br>Провели исследование на мировом рынке. Оказалось, что «Ростех» никто не понимает. Вредили два фактора: длинное и сложно название «Ростехнологии», а также звезда и цвета в логотипе, ассоциация с СССР. Воспринимали как закрытую, непонятная структуру. Поэтому было принять решение о ребрендинге. Не просто перерисовать логотип, а переосмыслить бренд: что говорит бренд? какие смыслы он несет миру? куда и как он хочет развиваться?
		p Причины для брендинга<br>Провели исследование на мировом рынке. Оказалось, что «Ростех» никто не понимает. Вредили два фактора: длинное и сложно название «Ростехнологии», а также звезда и цвета в логотипе, ассоциация с СССР. Воспринимали как закрытую, непонятная структуру. Поэтому было принять решение о ребрендинге. Не просто перерисовать логотип, а переосмыслить бренд: что говорит бренд? какие смыслы он несет миру? куда и как он хочет развиваться?
	.form__close
	.modal__gradient
	ul.modal__list#modal_tabs
		li
			span результат
		li
			span Процесс
		li.active
			span Причины


// end modal__rosteh