// begin profitScreen
section#profitScreen.profitScreen
	.container_center
		div.profitScreen__container
			.profitScreen__left
				h2.section__title 8 из 10 <span class="section__title_smallSpan">российских компаний</span> <span class="section__title_spacing">теряют прибыль</span>
				p.profitScreen__text.
					из-за того, что не используют потенциал 
					брендинга на 100%
				p.profitScreen__small.
					Бренд – это ключевой актив бизнеса. Прежде 
					чем принимать решение о сотрудничестве, клиенты, партнеры и инвесторы всегда оценивают силу бренда компании. Не стоит пренебрегать тем, что приносит прибыль
				.profitScreen__brand.
					А как выглядит ваша компания 
					в глазах клиентов, партнеров, 
					инвесторов?
			.profitScreen__right
				.profitImg1
				.profitImg2
				ul.profitList
					li.profitList__item
						.profitList__num 179
						.profitList__right
							.profitList__procent %
							.profitList__text Рост<br>выручки
					li.profitList__item
						.profitList__num 158
						.profitList__right
							.profitList__procent %
							.profitList__text Рост объема<br>производства
					li.profitList__item
						.profitList__num 8
						.profitList__right
							.profitList__procent %
							.profitList__text Рост численности<br>персонала
		button.btn.btn_img
			img(src="img/btn-card.png")
			| Получить бесплатный<br>брендинговый анализ
	ul.profitScreen__element
		li
		li

// end profitScreen