// begin promotion 
section.pr
	img.promotion__bgImg(src="img/promotion/promotion_bg.png", alt="")

	.container_center

		h2.section__title.section__promotionTitle Разработаем <br>и раскрутим бренд,
			.section__sub который будет приносить измеримые результаты
			img.promotion__element(src="img/element-2.png", alt="")

		.promotion
			.promotion__list_top Разработка сильного бренда <br>состоит из 
				span.promotion__number 4-х этапов
			.promotion__list.grid.grid__4
				.promotion__item
					.promotion__step
						.promotion__title
							|аудит 
							span.promotion__number 1
						.promotion__img
							img(src="img/promotion/folder1.png", alt="")
					.promotion__back
						.promotion__title.promotion__backTitle
							|аудит 
							span.promotion__number 1
						.promotion__backList
							.promotion__backList_item Рыночный анализ
							.promotion__backList_item Анализ конкурентов
							.promotion__backList_item Визуальный аудит
							.promotion__backList_item Проведение интервью
						.promotion__backDown
							a.promotion__backBtn(href="#" data-toggle="modal" data-target="#modalAudit") Посмотреть пример
				.promotion__item
					.promotion__step
						.promotion__title
							|стратегия 
							span.promotion__number 2
						.promotion__img
							img(src="img/promotion/folder2.png", alt="")
					.promotion__back
						.promotion__title.promotion__backTitle
							|стратегия 
							span.promotion__number 2
						.promotion__backList
							.promotion__backList_item Разработка позиционирования
							.promotion__backList_item Разработка архитектуры бренда
							.promotion__backList_item Создание концепции платформы бренда
						.promotion__backDown
							a.promotion__backBtn(href="#" data-toggle="modal" data-target="#modalStrategy") Посмотреть пример
				.promotion__item
					.promotion__step
						.promotion__title
							|дизайн 
							span.promotion__number 3
						.promotion__img
							img(src="img/promotion/folder3.png", alt="")
					.promotion__back
						.promotion__title.promotion__backTitle
							|дизайн 
							span.promotion__number 3
						.promotion__backList
							.promotion__backList_item Корпоративный бренд
							.promotion__backList_item Корпоративная архитектура бренда
							.promotion__backList_item Дизайн упаковка
							.promotion__backList_item Корпоративный веб-сайт
							.promotion__backList_item Корпоративный видео ролик
							.promotion__backList_item Выставочный дизайн
						.promotion__backDown
							a.promotion__backBtn(href="#" data-toggle="modal" data-target="#modalLayout") Посмотреть пример
				.promotion__item
					.promotion__step
						.promotion__title
							|внедрение 
							span.promotion__number 4
						.promotion__img
							img(src="img/promotion/folder4.png", alt="")
					.promotion__back
						.promotion__title.promotion__backTitle
							|внедрение 
							span.promotion__number 4
						.promotion__backList
							.promotion__backList_item Руководство по использованию бренда
							.promotion__backList_item Контроль за изменениями
							.promotion__backList_item Мониторинг внедрения бренда
							.promotion__backList_item Управление брендом
							.promotion__backList_item PR – Раскрутка бренда
						.promotion__backDown
							a.promotion__backBtn(href="#" data-toggle="modal" data-target="#modalPromotion") Посмотреть пример
			.promotion__alex
				.promotion__blockquote ...При соблюдении всех наших рекомендаций по внедрению нового бренда, я гарантирую вам увеличение выручки компании более чем на 20%»
				.promotion__info
					.promotion__info_item 15 лет занимаюсь брендингом
					.promotion__info_item Основал «kohldesign» и укрепляю промышленность России сильными брендами 
					.promotion__info_item Вооружил сильными брендами: Калашников Концерн, Дом.рф, Сириус - образовательный центр, Наследие Татарстана и другие
					.promotion__info_item Возглавлял команды в Европе и России
			.promotion__alexImg
				img.promotion__manImg(src="img/promotion/man.png", alt="")
				img.promotion__manSign(src="img/promotion/sign.png", alt="")
				.promotion__alexName александр кооль
					.promotion__alexName_sub Основатель и генеральный директор <br>
					span.promotion__alexCompany ООО KOHLDESIGN
			button.btn.promotion__btn(data-toggle="modal", data-target="#modalDiscuss") Получить консультацию Александра
// end promotion