// begin promotion 
section.pr
	img.promotion__bgImg(src="img/promotion/promotion_bg.png", alt="")

	.container_center

		h2.section__title.section__promotionTitle Разработаем <br>и раскрутим бренд,
			.section__sub который будет приносить измеримые результаты
			img.promotion__element(src="img/element-2.png", alt="")

		.promotion
			.promotion__list.grid.grid__4
				.promotion__item
					.promotion__step
						.promotion__title
							|аудит 
							span.promotion__number 1
						.promotion__img
							img(src="img/promotion/folder1.png", alt="")
					.promotion__back
						.promotion__back_in
							img(src="img/promotion/folder-back3.png", alt="")
				.promotion__item
					.promotion__step
						.promotion__title
							|стратегия 
							span.promotion__number 2
						.promotion__img
							img(src="img/promotion/folder2.png", alt="")
					.promotion__back
						.promotion__back_in
							img(src="img/promotion/folder-back2.png", alt="")
				.promotion__item
					.promotion__step
						.promotion__title
							|дизайн 
							span.promotion__number 3
						.promotion__img
							img(src="img/promotion/folder3.png", alt="")
					.promotion__back
						.promotion__back_in
							img(src="img/promotion/folder-back3.png", alt="")
				.promotion__item
					.promotion__step
						.promotion__title
							|внедрение 
							span.promotion__number 4
						.promotion__img
							img(src="img/promotion/folder4.png", alt="")
					.promotion__back
						.promotion__back_in
							img(src="img/promotion/folder-back2.png", alt="")
			.promotion__list_top Разработка сильного бренда <br>состоит из 
				span.promotion__number 4-х этапов
			.promotion__alex
				.promotion__blockquote ...При соблюдении всех наших рекомендаций по внедрению нового бренда, я гарантирую вам увеличение выручки компании более чем на 20%»
				.promotion__info
					.promotion__info_item 15 лет занимаюсь брендингом
					.promotion__info_item Основал «kohldesign» и укрепляю промышленность России сильными брендами 
					.promotion__info_item Вооружил сильными брендами: Калашников Концерн, Дом.рф, Сириус - образовательный центр, Наследие Татарстана и другие
					.promotion__info_item Возглавлял команды в Европе и России
			<button class="btn">Получить консультацию Александра</button>
			img.promotion__manImg(src="img/promotion/man.png", alt="")
			img.promotion__manSign(src="img/promotion/sign.png", alt="")
			.promotion__alexName александр кооль
				.promotion__alexName_sub Основатель и генеральный директор <br>ООО KOHLDESIGN
// end promotion