// begin sliderScreen
section#sliderScreen.sliderScreen
	.container_center
		h2.section__title за 5 лет <span>работы создали</span><br>53 узнаваемых бренда
		.sliderFor
			div
				.sliderFor__left <span>За 2013 год выручка</span> крупнейшего российского производителя оружия <span>увеличилась на 179%</span>
				.sliderFor__right
					.sliderFor__top Показатели концерна <span>(на январь 2014):</span>
					.sliderFor__bottom
						ul.sliderList
							li.sliderList__item
								.sliderList__num 8,2
								.sliderList__right
									.sliderList__rub млрд. руб.
									.sliderList__text Выручка
							li.sliderList__item
								.sliderList__num 2,1
								.sliderList__right
									.sliderList__rub млрд. руб.
									.sliderList__text Чистая прибыль
							li.sliderList__item
								.sliderList__num 9,4
								.sliderList__right
									.sliderList__rub млрд. руб.
									.sliderList__text Объем производства
			div
				.sliderFor__left <span>За 2013 год выручка</span> крупнейшего российского производителя
				.sliderFor__right
					.sliderFor__top Показатели концерна
					.sliderFor__bottom
						ul.sliderList
							li.sliderList__item
								.sliderList__num 8,2
								.sliderList__right
									.sliderList__rub млрд. руб.
									.sliderList__text Выручка
							li.sliderList__item
								.sliderList__num 2,1
								.sliderList__right
									.sliderList__rub млрд. руб.
									.sliderList__text Чистая прибыль
							li.sliderList__item
								.sliderList__num 9,4
								.sliderList__right
									.sliderList__rub млрд. руб.
									.sliderList__text Объем производства
			div
			div
			div
		.sliderContainer
			.sliderContainer__left
				.sliderButton.sliderButton_prev
				.sliderNav
					div
						.sliderNav__item.sliderNav__item_kalash
					div
						.sliderNav__item.sliderNav__item_rosteh
					div
						.sliderNav__item.sliderNav__item_tehnodin
					div
						.sliderNav__item.sliderNav__item_minprom
					div
						.sliderNav__item.sliderNav__item_rus
					div
						.sliderNav__item.sliderNav__item_rus
				.sliderButton.sliderButton_next
			.sliderContainer__right
				.sliderFor2
					div
						.sliderFor2__item.sliderFor2__item_kalash
					div
						.sliderFor2__item.sliderFor2__item_rosteh
					div
						.sliderFor2__item.sliderFor2__item_tehnodin
					div
						.sliderFor2__item.sliderFor2__item_minprom
					div
						.sliderFor2__item.sliderFor2__item_rus
					div
						.sliderFor2__item.sliderFor2__item_rus
		.sliderFor3
			div
				button.btn.btn_img Посмотреть подробное описание<br>проекта Калашников концерн
					img(src="img/btn-kalash.png")
				.sliderFor3__over Посмотреть подробности проекта
			div
				button.btn.btn_img Посмотреть подробное описание<br>проекта Ростех
					img(src="img/btn-kalash.png")
				.sliderFor3__over Посмотреть подробности проекта
			div
				button.btn.btn_img Посмотреть подробное описание<br>проекта Технодинамика
					img(src="img/btn-kalash.png")
				.sliderFor3__over Посмотреть подробности проекта
			div
				button.btn.btn_img Посмотреть подробное описание<br>проекта Минторгпром России
					img(src="img/btn-kalash.png")
				.sliderFor3__over Посмотреть подробности проекта
			div
				button.btn.btn_img Посмотреть подробное описание<br>проекта РУС
					img(src="img/btn-kalash.png")
				.sliderFor3__over Посмотреть подробности проекта

// end sliderScreen

