// begin sliderScreen
section#sliderScreen.sliderScreen
	.container_center
		h2.section__title за 5 лет <span>работы создали</span><br>53 узнаваемых бренда
		.sliderFor
			div
				.sliderFor__left <span>За 2013 год выручка</span> крупнейшего российского производителя оружия <span>увеличилась на 179%</span>
				.sliderFor__right
					.sliderFor__top Показатели концерна <span>(на январь 2014):</span>
					.sliderFor__bottom
						ul.sliderList
							li.sliderList__item
								.sliderList__num 8,2
								.sliderList__right
									.sliderList__rub млрд. руб.
									.sliderList__text Выручка
							li.sliderList__item
								.sliderList__num 2,1
								.sliderList__right
									.sliderList__rub млрд. руб.
									.sliderList__text Чистая прибыль
							li.sliderList__item
								.sliderList__num 9,4
								.sliderList__right
									.sliderList__rub млрд. руб.
									.sliderList__text Объем производства
				.sliderFor__number 1/16
				.sliderFor__title.sliderFor__title_1
			div
				.sliderFor__left.sliderFor__left_b
				.sliderFor__right.sliderFor__right_b
					.sliderFor__top Показатели ребрендинга Ростеха:
					.sliderFor__bottom
						ul.sliderList
							li.sliderList__item.sliderList__item_50
								.sliderList__num 31,2
								.sliderList__right
									.sliderList__rub млрд. руб.
									.sliderList__text Оценен бренд после ребрендинга
							li.sliderList__item.sliderList__item_50
								.sliderList__num 45
								.sliderList__right
									.sliderList__rub млн. руб.
									.sliderList__text Потратили на проведение ребрендинга
				.sliderFor__number 2/16
				.sliderFor__title.sliderFor__title_2
			div
				.sliderFor__left.sliderFor__left_b
					span За 2013 год выручка 
					| холдинга 
					span увеличилась на 19,2%
				.sliderFor__right.sliderFor__right_b
					.sliderFor__top Показатели холдинга (на январь 2014):
					.sliderFor__bottom
						ul.sliderList
							li.sliderList__item
								.sliderList__num 19,8
								.sliderList__right
									.sliderList__rub млрд. руб.
									.sliderList__text Выручка
							li.sliderList__item
								.sliderList__num 1,4
								.sliderList__right
									.sliderList__rub млрд. руб.
									.sliderList__text Чистая прибыль
				.sliderFor__number 3/16
				.sliderFor__title.sliderFor__title_3
			div
				.sliderFor__number 4/16
				.sliderFor__title.sliderFor__title_4
			div
				.sliderFor__number 5/16
				.sliderFor__title.sliderFor__title_5
			div
				.sliderFor__number 6/16
				.sliderFor__title.sliderFor__title_6
			div
				.sliderFor__number 7/16
				.sliderFor__title.sliderFor__title_7
			div
				.sliderFor__number 8/16
				.sliderFor__title.sliderFor__title_8
			div
				.sliderFor__number 9/16
				.sliderFor__title.sliderFor__title_9
			div
				.sliderFor__number 10/16
				.sliderFor__title.sliderFor__title_10
			div
				.sliderFor__number 11/16
				.sliderFor__title.sliderFor__title_11
			div
				.sliderFor__number 12/16
				.sliderFor__title.sliderFor__title_12
			div
				.sliderFor__number 13/16
				.sliderFor__title.sliderFor__title_13
			div
				.sliderFor__number 14/16
				.sliderFor__title.sliderFor__title_14
			div
				.sliderFor__number 15/16
				.sliderFor__title.sliderFor__title_15
			div
				.sliderFor__number 16/16
				.sliderFor__title.sliderFor__title_16

		.sliderButton_mobile
			.sliderButton.sliderButton_prev
			.sliderButton.sliderButton_next

		.sliderContainer

			.sliderContainer__left
				.sliderButton.sliderButton_prev.mobileHide

				.sliderNav
					div
						.sliderNav__item.sliderNav__item_kalash
					div
						.sliderNav__item.sliderNav__item_rosteh
					div
						.sliderNav__item.sliderNav__item_tehnodin
					div
						.sliderNav__item.sliderNav__item_minprom
					div
						.sliderNav__item.sliderNav__item_rus
					div
						.sliderNav__item.sliderNav__item_bmw
					div
						.sliderNav__item.sliderNav__item_thyssen
					div
						.sliderNav__item.sliderNav__item_shtockman
					div
						.sliderNav__item.sliderNav__item_raikal
					div
						.sliderNav__item.sliderNav__item_izmash
					div
						.sliderNav__item.sliderNav__item_salair
					div
						.sliderNav__item.sliderNav__item_kret
					div
						.sliderNav__item.sliderNav__item_rolsroys
					div
						.sliderNav__item.sliderNav__item_bll
					div
						.sliderNav__item.sliderNav__item_renova
					div
						.sliderNav__item.sliderNav__item_kalash2

				.sliderButton.sliderButton_next.mobileHide
			.sliderContainer__right

				.sliderFor2
					div
						.sliderFor2__item.sliderFor2__item_kalash
					div
						.sliderFor2__item.sliderFor2__item_rosteh
					div
						.sliderFor2__item.sliderFor2__item_tehnodin
					div
						.sliderFor2__item.sliderFor2__item_minprom
					div
						.sliderFor2__item.sliderFor2__item_rus
					div
						.sliderFor2__item.sliderFor2__item_bmw
					div
						.sliderFor2__item.sliderFor2__item_thyssen
					div
						.sliderFor2__item.sliderFor2__item_shtockman
					div
						.sliderFor2__item.sliderFor2__item_raikal
					div
						.sliderFor2__item.sliderFor2__item_izmash
					div
						.sliderFor2__item.sliderFor2__item_salair
					div
						.sliderFor2__item.sliderFor2__item_kret
					div
						.sliderFor2__item.sliderFor2__item_rolsroys
					div
						.sliderFor2__item.sliderFor2__item_bll
					div
						.sliderFor2__item.sliderFor2__item_renova
					div
						.sliderFor2__item.sliderFor2__item_kalash2

		.sliderFor3
			div
				.center_mobile
					button.btn.btn_img(data-toggle="modal" data-target="#modalRosteh")
						span.mobileHide Посмотреть подробное описание<br> проекта Калашников концерн
						span.mobileVisible Посмотреть описание проекта Калашников
						img(src="img/btn-kalash.png")
				.sliderFor3__over Посмотреть подробности проекта
			div
				.center_mobile
					button.btn.btn_img(data-toggle="modal" data-target="#modalRosteh")
						span.mobileHide Посмотреть подробное описание<br>проекта Ростех
						span.mobileVisible Посмотреть описание проекта Ростех
						img(src="img/btn-kalash.png")
					.sliderFor3__over Посмотреть подробности проекта
			div
				.center_mobile
					button.btn.btn_img(data-toggle="modal" data-target="#modalRosteh")
						span.mobileHide Посмотреть подробное описание<br>проекта Технодинамика
						span.mobileVisible Посмотреть описание проекта Технодинамика
						img(src="img/btn-kalash.png")
					.sliderFor3__over Посмотреть подробности проекта
			div
				.center_mobile
					button.btn.btn_img(data-toggle="modal" data-target="#modalRosteh")
						span.mobileHide Посмотреть подробное описание<br>проекта Минторгпром России
						span.mobileVisible Посмотреть описание проекта Минторгпром
						img(src="img/btn-kalash.png")
				.sliderFor3__over Посмотреть подробности проекта
			div
				.center_mobile
					button.btn.btn_img(data-toggle="modal" data-target="#modalRosteh")
						span.mobileHide Посмотреть подробное описание<br>проекта РУС
						span.mobileVisible Посмотреть описание проекта РУС
						img(src="img/btn-kalash.png")
				.sliderFor3__over Посмотреть подробности проекта
			div
				.center_mobile
					button.btn.btn_img(data-toggle="modal" data-target="#modalRosteh")
						span.mobileHide Посмотреть подробное описание<br>проекта BMW
						span.mobileVisible Посмотреть описание проекта BMW
						img(src="img/btn-kalash.png")
				.sliderFor3__over Посмотреть подробности проекта
			div
				.center_mobile
					button.btn.btn_img(data-toggle="modal" data-target="#modalRosteh")
						span.mobileHide Посмотреть подробное описание<br>проекта Thyssenkrupp
						span.mobileVisible Посмотреть описание проекта Thyssenkrupp
						img(src="img/btn-kalash.png")
				.sliderFor3__over Посмотреть подробности проекта
			div
				.center_mobile
					button.btn.btn_img(data-toggle="modal" data-target="#modalRosteh")
						span.mobileHide Посмотреть подробное описание<br>проекта Штокман
						span.mobileVisible Посмотреть описание проекта Штокман
						img(src="img/btn-kalash.png")
				.sliderFor3__over Посмотреть подробности проекта
			div
				.center_mobile
					button.btn.btn_img(data-toggle="modal" data-target="#modalRosteh")
						span.mobileHide Посмотреть подробное описание<br>проекта Raikal
						span.mobileVisible Посмотреть описание проекта Raikal
						img(src="img/btn-kalash.png")
				.sliderFor3__over Посмотреть подробности проекта
			div
				.center_mobile
					button.btn.btn_img(data-toggle="modal" data-target="#modalRosteh")
						span.mobileHide Посмотреть подробное описание<br>проекта Ижмаш
						span.mobileVisible Посмотреть описание проекта Ижмаш
						img(src="img/btn-kalash.png")
				.sliderFor3__over Посмотреть подробности проекта
			div
				.center_mobile
					button.btn.btn_img(data-toggle="modal" data-target="#modalRosteh")
						span.mobileHide Посмотреть подробное описание<br>проекта Салаир
						span.mobileVisible Посмотреть описание проекта Салаир
						img(src="img/btn-kalash.png")
				.sliderFor3__over Посмотреть подробности проекта
			div
				.center_mobile
					button.btn.btn_img(data-toggle="modal" data-target="#modalRosteh")
						span.mobileHide Посмотреть подробное описание<br>проекта Kret
						span.mobileVisible Посмотреть описание проекта Kret
						img(src="img/btn-kalash.png")
				.sliderFor3__over Посмотреть подробности проекта
			div
				.center_mobile
					button.btn.btn_img(data-toggle="modal" data-target="#modalRosteh")
						span.mobileHide Посмотреть подробное описание<br>проекта Rollsroys
						span.mobileVisible Посмотреть описание проекта Rollsroys
						img(src="img/btn-kalash.png")
				.sliderFor3__over Посмотреть подробности проекта
			div
				.center_mobile
					button.btn.btn_img(data-toggle="modal" data-target="#modalRosteh")
						span.mobileHide Посмотреть подробное описание<br>проекта BLL
						span.mobileVisible Посмотреть описание проекта BLL
						img(src="img/btn-kalash.png")
				.sliderFor3__over Посмотреть подробности проекта
			div
				.center_mobile
					button.btn.btn_img(data-toggle="modal" data-target="#modalRosteh")
						span.mobileHide Посмотреть подробное описание<br>проекта Ренова
						span.mobileVisible Посмотреть описание проекта Ренова
						img(src="img/btn-kalash.png")
				.sliderFor3__over Посмотреть подробности проекта
			div
				.center_mobile
					button.btn.btn_img(data-toggle="modal" data-target="#modalRosteh")
						span.mobileHide Посмотреть подробное описание<br>проекта Калашников
						span.mobileVisible Посмотреть описание проекта Калашников
						img(src="img/btn-kalash.png")
				.sliderFor3__over Посмотреть подробности проекта

// end sliderScreen

