// begin strategy 
section.strategy
	.container_center

		h2.section__title.section__strategyTitle 93% клиентов приходят к нам <br> 
			span.section__title_left по рекомендации
			.section__sub.section__title_left благодаря результатам и подходу
			img.strategy__element1(src="img/element-2.png", alt="")

		.strategy__content
			.strategy__right
				.strategy__item
					.strategy__title Миссия
					.strategy__info Развиваем российскую промышленность, делая сильные и понятные бренды.
				.strategy__item
					.strategy__title Видение
					.strategy__info Mы верим в то, что каждая компания, меняя своё мышление, может стать лидером рынка.
				.strategy__item
					.strategy__title Подход
					.strategy__info 
						p Пишем новую историю бизнеса, меняя устаревшие нормы.
						p Строим прогрессивный имидж, создавая повод для гордости.
						p Учим говорить на понятном языке, открывая двери в глобальный рынок.
				img.strategy__element3(src="img/element-2.png", alt="")
			.strategy__left
				img.strategy__img(src="img/strategy/lion.png", alt="")
				img.strategy__element2(src="img/element-2.png", alt="")
				img.strategy__element4(src="img/element-2.png", alt="")
// end strategy 