// begin nameSection
section#tasks.tasks
	.container_center
		
		h2.section__title СИЛЬНЫЙ И ПОНЯТНЫЙ БРЕНД <span class='section__title_small'>обеспечивает</span> <br> рост ПРИБЫЛи, <div class='section__title_small text'>но кроме этого <br> обеспечивает выполняет другие бизнес-задачи,<br> которые прямым образом влияют<br> на цифры в годовом отчете</div>
		

		.plate
			
			.plate__item
				.plate__icon 
					img(src='img/tasks/task1.png')
				.plate__content
					.plate__title Получите крупных клиентов
					.plate__subtitle Засчет улучшения имиджа компании	
		
			.plate__item
				.plate__icon 
					img(src='img/tasks/task2.png')
				.plate__content
					.plate__title Увеличите прибыль компании
					.plate__subtitle Поскольку расширится охват аудитории
		
			.plate__item
				.plate__icon 
					img(src='img/tasks/task3.png')
				.plate__content
					.plate__title Повысите маржинальность продукта
					.plate__subtitle Засчет увеличения добавленной стоимости	
		
			.plate__item
				.plate__icon 
					img(src='img/tasks/task4.png')
				.plate__content
					.plate__title Привлечете лучших сотрудников
					.plate__subtitle Имея сильный HR-бренд	

			.plate__item
				.plate__icon 
					img(src='img/tasks/task5.png')
				.plate__content
					.plate__title Отличитесь от конкурентов
					.plate__subtitle Выгодно выделяясь в глазах клиентов
			
			.plate__item
				.plate__icon 
					img(src='img/tasks/task6.png')
				.plate__content
					.plate__title Выйдете на зарубежные рынки
					.plate__subtitle Став заметными для будущих партнеров
			
			.plate__item
				.plate__icon 
					img(src='img/tasks/task7.png')
				.plate__content
					.plate__title Запустите новые направления
					.plate__subtitle Открыв для себя новые возможности	
			
			.plate__item
				.plate__icon 
					img(src='img/tasks/task8.png')
				.plate__content
					.plate__title Привлечете больше инвестиций
					.plate__subtitle Повысив доверие перед инвесторами	
			
			.plate__item
				.plate__icon 
					img(src='img/tasks/task9.png')
				.plate__content
					.plate__title Увеличите количество продаж
					.plate__subtitle Засчет повышения доверия перед клиентами

// end nameSection
