// begin value 
section

	.container_center

		h2.section__title.section__valueTitle.text-center в результате вы получите <br>сильный и конкурентоспособный бренд,
			.section__sub который будет увеличивать вашу прибыль
			img.value__element2(src="img/element-2.png", alt="")

	.value
		.value__bg
			img.value__img(src="img/value/value_bg.png", alt="")
		.container_center
			.getTest.value__info
				.getTest__left.value__left
					.value__title Получите расчет стоимости разработки вашего бренда
					.value__sub Вместе с расчетом стоимости вы узнаете:
					.value__list
						.value__list_item Сильные и слабые стороны вашей компании
						.value__list_item Как повысить узнаваемость компании
						.value__list_item Как увеличить прибыль и повысить стоимость своего продукта
				.getTest__right.value__right
					.getTest__btn.value__btn
						button.btn.btn_img(data-toggle="modal" data-target="#modalCalc")
							img(src="img/btn-card.png" alt="image")
							span.value__btnTextDesktop Получить расчет стоимости
							span.value__btnTextSmall Получить анализ <br>компании
						img.value__element1(src="img/element-2.png", alt="")
// end value