// begin value 
section

	.container_center

		h2.section__title.text-center.section__title_bottom_1_35 в результате вы получите <br>сильный и конкурентоспособный бренд,
			.section__sub который будет увеличивать вашу прибыль

	.value
		.value__bg
			img.value__img(src="img/value/value_bg.png", alt="")
		.container_center

			.value__info
				.value__left
					.value__title Получите расчет стоимости разработки вашего бренда
					.value__sub Вместе с расчетом стоимости вы узнаете:
					.value__list
						.value__list_item Сильные и слабые стороны вашей компании
						.value__list_item Как повысить узнаваемость компании
						.value__list_item Как увеличить прибыль и повысить стоимость своего продукта
				.value__right
					button.btn.btn_img.value__btn
						img(src="img/value/btn_img.png", alt="")
						|Получить расчет стоимости
// end value