// begin videoScreen
section#video.videoScreen
	.container_center
		h2.section__title.section__title_center давайте знакомиться
		.video
			.video__wrapper
				.js_youtube#DLToX0PgoGk
					.video__prev(style="background-image: url(img/video-prev.png)")
			.videoOver
				.videoOver__title Посмотрите видео
				.videoOver__text в котором Александр Кооль расскажет о компании и подходу к работе
		.getTest
			.getTest__left
				.getTest__title Получите бесплатный визуальный анализ компании
				p.getTest__text.
					По результатам анализа вы поймете:<br>
					Что необходимо сделать, чтобы увеличить прибыль 
					и повысить стоимость вашей компании
			.getTest__right
				.getTest__btn
					button.btn.btn_img(data-toggle="modal" data-target="#modalAnalys")
						img(src="img/btn-card.png" alt="image")
						| Получить анализ компании
	ul.videoScreen__element
		li
		li
		li
		li
			
// end videoScreen