// begin nameSection
section#nameSection.nameSection
	.container_center
		h1.section__title Сайт находится в разработке. 
		h2 Если у вас есть вопросы или предложение о сотрудничестве, <br>то напишите письмо на почту 
			a(href="mailto:kohl@kohldesign.ru") kohl@kohldesign.ru
// end nameSection
