.meeting {
  position: relative; }
  .meeting__wrap {
    position: relative;
    top: 1em;
    left: -3em;
    width: 93%;
    min-height: 40em;
    margin-left: auto;
    margin-right: auto;
    display: block; }
  .meeting__img {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: auto; }
  .meeting__shadow {
    position: absolute;
    z-index: 1;
    width: 100%;
    min-height: 175%;
    border-radius: 50%;
    -webkit-box-shadow: -100px -150px 200px 0px rgba(95, 34, 34, 0.4);
    box-shadow: -100px -150px 200px 0px rgba(95, 34, 34, 0.4); }
  .meeting__meteorite_06, .meeting__meteorite_07 {
    position: absolute;
    z-index: 5; }
  .meeting__meteorite_06 {
    top: -1em;
    right: 10em; }
  .meeting__meteorite_07 {
    top: 6em;
    left: -15em; }

.meeting__point {
  position: absolute;
  z-index: 3;
  cursor: pointer; }

.meeting__icon {
  color: #f92626;
  font-size: 2em; }

.meeting__amsterdam {
  top: 38.3%;
  left: 12.5%; }

.meeting__barentsevo {
  top: 15.5%;
  left: 25.5%; }

.meeting__germany {
  top: 35.9%;
  left: 27.3%; }

.meeting__czech {
  top: 41.8%;
  left: 30.3%; }

.meeting__moscow {
  top: 27.6%;
  left: 43.7%; }

.meeting__sochi {
  top: 41.5%;
  left: 45.3%; }

.meeting__izhevsk {
  top: 28.1%;
  left: 55.9%; }

.meeting__kazan {
  top: 34.7%;
  left: 53.3%; }

.meeting__gudermes {
  top: 47.2%;
  left: 51.1%; }

.meeting__tooltip {
  position: absolute;
  z-index: 3;
  padding: 0.5em 1em;
  border: 0.063em solid #6f6f6f;
  text-align: center;
  background-color: rgba(23, 22, 22, 0.7);
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.meeting__amsterdamTooltip {
  top: 3.2em;
  left: -1.4em; }

.meeting__barentsevoTooltip {
  top: -5.1em;
  left: -0.4em; }

.meeting__germanyTooltip {
  top: -5em;
  left: -7em;
  width: 15em; }
  .meeting__germanyTooltip > img {
    margin-right: 0.6em;
    margin-bottom: 0;
    display: inline-block; }
    .meeting__germanyTooltip > img:nth-child(2) {
      padding-bottom: 0.4em; }
    .meeting__germanyTooltip > img:nth-child(3) {
      margin-right: 0; }

.meeting__czechTooltip {
  top: 3.6em;
  left: -3em;
  min-width: 5em; }

.meeting__moscowTooltip {
  top: -10.6em;
  left: -2.1em;
  min-width: 10em;
  text-align: left; }

.meeting__sochiTooltip {
  top: 3.3em;
  left: -5.8em;
  text-align: left; }

.meeting__izhevskTooltip {
  top: -4.9em;
  right: -5.4em; }

.meeting__kazanTooltip {
  top: -1em;
  right: -8.4em; }

.meeting__gudermesTooltip {
  top: 4.7em;
  left: 2em; }

.meeting__moscowTooltip > img, .meeting__sochiTooltip > img {
  margin-bottom: 0.8em; }
  .meeting__moscowTooltip > img:last-child, .meeting__sochiTooltip > img:last-child {
    margin-bottom: 0; }

.meeting__arrow_down, .meeting__arrow_top, .meeting__arrow_left {
  position: absolute;
  z-index: 5; }

.meeting__arrow_down, .meeting__arrow_top {
  width: 1.5em;
  height: 0.8em; }

.meeting__arrow_down {
  bottom: -0.75em;
  background: url("../img/meeting/arrow_down.png") no-repeat; }

.meeting__arrow_top {
  top: -0.7em;
  background: url("../img/meeting/arrow_top.png") no-repeat; }

.meeting__arrow_left {
  width: 0.9em;
  height: 1.5em;
  left: -0.7em;
  background: url("../img/meeting/arrow_left.png") no-repeat; }

.meeting__barentsevoArrow, .meeting__amsterdamArrow, .meeting__gudermesArrow {
  left: 10%; }

.meeting__germanyArrow {
  right: 30%; }

.meeting__moscowArrow {
  left: 35%; }

.meeting__czechArrow {
  right: 10%; }

.meeting__izhevskArrow {
  bottom: 10%; }

.meeting__kazanArrow {
  top: 35%; }

/*# sourceMappingURL=meeting.css.map */