.value {
  position: relative;
  min-height: 20em;
  padding-top: 4.1em;
  margin-bottom: 4.8em; }
  .value__bg {
    position: absolute;
    top: -3.4em;
    left: 0;
    z-index: 0;
    width: 100%;
    display: block; }
  .value__img {
    opacity: 0.3; }
  .value__info {
    position: relative;
    z-index: 1;
    padding: 3.8em 4em 7em;
    background: url("../img/value/value_bg2.png") 0 0 no-repeat;
    background-size: 100%;
    display: table; }
  .value__left {
    width: 55%;
    display: table-cell; }
  .value__title {
    margin-bottom: 0.5em;
    font-size: 2.8em;
    line-height: 1.1;
    font-family: "PF Din Text Cond Pro";
    font-weight: 500;
    text-transform: uppercase; }
  .value__sub {
    margin-bottom: 0.8em;
    opacity: 0.5; }
  .value__list_item {
    margin-bottom: 0.3em; }
    .value__list_item:before {
      content: '';
      position: relative;
      top: -0.17em;
      width: 0.3em;
      height: 0.3em;
      border-radius: 50%;
      margin-right: 0.5em;
      background-color: #fff;
      display: inline-block; }
  .value__right {
    display: table-cell;
    vertical-align: middle; }
  .value__btn {
    position: relative;
    z-index: 2;
    width: 100%;
    display: inline-block; }
  .value__element1 {
    position: absolute;
    top: -3.2em;
    left: -1.1em;
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25); }
  .value__element2 {
    position: absolute;
    top: -0.9em;
    left: 4.1em;
    -webkit-transform: rotateZ(210deg) scale(1.25);
    -ms-transform: rotate(210deg) scale(1.25);
    transform: rotateZ(210deg) scale(1.25); }
    @media (max-width: 1366px) {
      .value__element2 {
        left: -1.8em; } }

.section__valueTitle {
  margin-bottom: 1.35em; }
  .section__valueTitle:before {
    left: 4.1em; }
    @media (max-width: 1366px) {
      .section__valueTitle:before {
        left: -1.1em; } }
