// Map
.map {
	position: absolute;
	top: 0;
	left: 100%;
	left: 0;
	z-index: 5;
	width: 100%;
	height: 100%;
	&__wrap {
		position: relative;
		min-height: 44em;
		@media (max-width : 767px) {
			width: 100%;
			min-height: 15.69em;
		}
	}
	&__info {
		position: absolute;
		top: 13.8em;
		// left: 17em;
		right: 55.9%;
		z-index: 8;
		width: 24.9em;
		padding: 3.3em 2.4em 1.8em;
		background-color: #fff;
		border-radius: 0.25em;
		@media (max-width : 1366px) {
			left: 17em;
		}
		@media (max-width : 768px) {
			display: none;
		}
		&_item {
			margin-bottom: 0.9em;
		}
	}
	&__infoArrow {
		position: absolute;
		right: -1.8em;
    	bottom: 2.9em;
		z-index: 9;
		width: 2em;
		height: 2em;
		display: inline-block;
		border: 1.25em solid transparent;
		border-left: 1.25em solid #fff;
	}
	&__firstIcon {
		font-size: 2.3em;
	}
	&__secondIcon {
		font-size: 0.85em;
	}
	&__left {
		padding-top: 0.3em;
	 	float: left;
	 	width: 11%;
	 	color: #ccc;
	 	&_letter {
	 		top: 0.9em;
	 		font-size: 0.7em;
	 	}
	}
	&__right {
		overflow: hidden;
		color: #161515;
		font-family: "Gotham Pro";
		font-size: 1.125em;
		font-weight: 500;
		line-height: 1.5em;
	}
	&__element {
		position: absolute;
		top: 0em;
		left: -0.4em;
		width: 0.7em;
		transform: rotateZ(25deg) scale(1.25);
		@media (max-width : 1199px) {
			left: -2.7em;
		}
		@media (max-width : 768px) {
			top: -1em;
			left: auto;
			right: 0;
			transform: rotateZ(165deg) scale(1.25);
		}
	}
	&__down {
		display: none;
		padding: 2em 0 1.5em;
		margin-left: -1.5em;
		border-bottom: 1px solid #2E2D2D;
		@extend %clear_a;
		@media (max-width : 768px) {
			display: block;
		}
		&_item {
			width: 50%;
			float: left;
			padding-left: 1.5em;
			@extend %clear_a;
		}
	}
	&__downIcon {
		width: 1.7em;
		font-size: 0.6em;
		float: left;
		color: #f92626;
		&_small {
			font-size: 0.8em;
		}
		@media (max-width: 767px) {
		    font-size: 0.9em;
		}
	}
	&__downInfo {
		overflow: hidden;
		font-size: 0.688em;
		line-height: 1.24em;
		@media (max-width: 767px) {
		    font-size: 0.9em;
		    letter-spacing: 0.02em;
		    line-height: 1.5;
		}
	}
}

.section__mapTitle {
	margin-bottom: 1.3em;
	@media (min-width: 768px) {
		padding-left: 1.2em;
	    
	}
	&:before {
		left: 0.05em;
	}
}