// Meeting
.meeting {
	position: relative;
	@media (max-width : 1200px) {
		font-size: 0.9em;
	}
	@media (max-width : 768px) {
		margin-bottom: -3em;
	}
	&__wrap {
		position: relative;
		top: 1em;
		// left: -3em;
		width: 80%;
		min-height: 40em;
		margin-left: auto;
		margin-right: auto;
		display: block;
		@media (max-width : 1366px) {
			width: 100%;
			min-height: 52em;
		}
		@media (max-width : 1200px) {
			min-height: 59em;
		}
		@media (max-width : 767px) {
			min-height: 20em;
		}
	}
	&__img {
		position: absolute;
		z-index: 2;
		width: 100%;
		height: auto;
	}
	&__shadow {
		position: absolute;
		z-index: 1;
		width: 100%;
		min-height: 175%;
		border-radius: 50%;
		box-shadow: -100px -150px 200px 0px rgba(95,34,34,0.4);
		@media (max-width : 1620px) {
			min-height: 210%;
		}
		@media (max-width : 1366px) {
			min-height: 250%;
			box-shadow: -50px -50px 200px 0px rgba(95,34,34,0.4);
		}
		@media (max-width : 1200px) {
			min-height: 280%;
		}
	}
	&__meteorite_06,
	&__meteorite_07 {
		position: absolute;
		z-index: 5;
		@media (max-width : 767px) {
			display: none;
		}
	}
	&__meteorite_06 {
		top: -1em;
		right: 11em;
		@media (max-width : 1366px) {
			right: 3em;
		}
		@media (max-width : 1200px) {
			right: -3em;
		}
		@media (max-width : 992px) {
			right: -6em;
		}
		@media (max-width : 768px) {
			top: -1em;
			right: -20em;
		}
	}
	&__meteorite_07 {
		top: 6em;
		left: -7em;
		@media (max-width : 1366px) {
			left: -10em;
		}
		@media (max-width : 992px) {
			top: 30em;
		}
		@media (max-width : 768px) {
			top: 6em;
			left: -30em;
		}
	}
	&__element {
		position: absolute;
		top: 0em;
		left: -1.3em;
		transform: rotateZ(205deg) scale(1.25);
		@media (max-width : 992px) {
			left: -2em;
		}
		@media (max-width : 768px) {
			display: none;
		}
	}
}

// Meeting poits
.meeting {
	&__point {
		position: absolute;
		z-index: 5;
		cursor: default;
		font-weight: 500;
		@media (max-width : 767px) {
			font-size: 0.7em;
		}
	}
	&__icon {
		color: #f92626;
		font-size: 2em;
		margin-right: 0.1em;
	}
	&__amsterdam {
		top: 38.3%;
		left: 12.5%;
		// @media (max-width : 768px) {
		// 	top: 50%;
		// 	left: 16%;
		// }
		@media (max-width : 767px) {
			top: 25%;
			left: 6%;
		}
	}
	&__barentsevo {
		top: 15.3%;
		left: 25.5%;
		// @media (max-width : 768px) {
		// 	top: 23%;
		// 	left: 30%;
		// }
		@media (max-width : 767px) {
			top: 8%;
			left: 25%;
		}
	}
	&__germany {
		top: 35.5%;
		left: 27.3%;
		// @media (max-width : 768px) {
		//     top: 54%;
		//     left: 27%;
		// }
		@media (max-width : 767px) {
		    top: 24%;
		    left: 26%;
		}
	}
	&__czech  {
		top: 41.8%;
		left: 30.3%;
		// @media (max-width : 768px) {
		//     top: 58%;
		// 	left: 30%;
		// }
		@media (max-width : 767px) {
		    top: 31%;
			left: 28%;
		}
	}
	&__moscow  {
		top: 27.6%;
		left: 43.7%;
		// @media (max-width : 768px) {
		//     top: 39%;
		// 	left: 42.5%;
		// }
		@media (max-width : 767px) {
		    top: 19%;
			left: 42%;
		}
	}
	&__sochi  {
		top: 41.5%;
		left: 45.3%;
		// @media (max-width : 768px) {
		//     top: 60%;
		// 	left: 45%;
		// }
		@media (max-width : 767px) {
		    top: 31%;
			left: 44%;
		}
	}
	&__izhevsk  {
		top: 28.1%;
		left: 55.9%;
		// @media (max-width : 768px) {
		//     top: 36%;
		// 	left: 55%;
		// }
		@media (max-width : 767px) {
		    top: 15%;
			left: 60%;
		}
	}
	&__kazan  {
		top: 34.7%;
		left: 53.3%;
		// @media (max-width : 768px) {
		//     top: 47%;
		// 	left: 53%;
		// }
		@media (max-width : 767px) {
		    top: 26%;
			left: 56%;
		}
	}
	&__gudermes  {
		top: 47.2%;
		left: 51.1%;
		// @media (max-width : 768px) {
		//     top: 64%;
		// 	left: 51%;
		// }
		@media (max-width : 767px) {
		    top: 38%;
			left: 50%;
		}
	}	
}

// Meeting tooltips
.meeting {
	&__tooltip {
		position: absolute;
		z-index: 3;
		padding: 0.5em 1em;
		border: 0.063em solid #6f6f6f;
		text-align: center;
		background-color: rgba(23, 22, 22, 0.7);
		box-sizing: border-box;
		@media (max-width : 768px) {
			display: none;
		}
	}

	&__amsterdamTooltip {
		top: 3.2em;
		left: -1.2em;
		padding: 0.5em 1em 0.8em;
		img {
			width: 7.25em;
		}
	}
	&__barentsevoTooltip {
		top: -5.5em;
		left: -0.4em;
	    padding: 1.2em 0.8em 0.8em;
		img {
			width: 8.063em;
		}
	}
	&__germanyTooltip {
		top: -5em;
		left: -7em;
		width: 16em;
		& > img {
			margin-right: 0.6em;
			margin-bottom: 0;
			display: inline-block;
			&:nth-child(1) {
				width: 3.063em;
			}
			&:nth-child(2) {
				width: 5.125em;
				padding-bottom: 0.4em;
			}
			&:nth-child(3) {
				width: 4.25em;
				margin-right: 0;
			}
		}
	}
	&__czechTooltip {
		top: 3.3em;
		left: -3em;
		padding: 0.7em 1.7em;
		img {
			width: 3.125em;
		}
	}
	&__moscowTooltip {
		top: -10.6em;
		left: -2.1em;
		padding: 1em 1.5em 0.5em;
		min-width: 11.3em;
		text-align: left;
		& > img {
			margin-bottom: 0.5em;
			&:last-child {
				margin-bottom: 0;
			}
			&:nth-child(1) {
				width: 2.625em;
			}
			&:nth-child(2) {
				width: 8.875em;
			}
			&:nth-child(3) {
				width: 7.5em;
			}
		}
	}
	&__sochiTooltip {
		top: 3.3em;
		left: -5.8em;
		padding: 1em 1em 0;
		text-align: left;
		& > img {
			margin-bottom: 0.7em;
			&:last-child {
				margin-bottom: 0;
			}
			&:nth-child(1) {
				width: 7.688em;
			}
			&:nth-child(2) {
				width: 5.25em;
			}
		}
	}
	&__izhevskTooltip {
		top: -4.9em;
		right: -6.4em;
		min-width: 8em;
		padding: 1em 1em 0.3em;
		img {
			width: 5.438em;
		}
	}
	&__kazanTooltip {
		top: -1.2em;
		right: -11.5em;
		min-width: 10em;
		text-align: left;
		img {
			width: 4.75em;
		}
	}
	&__gudermesTooltip {
		top: 4.7em;
		left: 2em;
		min-width: 9.7em;
		padding: 0.7em 1em;
		img {
			width: 7.25em;
		}
	}
}

// Meeting arrows
.meeting {
	&__arrow {
		&_down,
		&_top,
		&_left {
			position: absolute;
			z-index: 5;
		}
		&_down,
		&_top {
			width: 1.5em;
			height: 0.8em;
		}
		&_down {
			bottom: -0.6em;
		}
		&_top {
			top: -0.85em;
		}
		&_left {
			width: 0.9em;
			height: 1.5em;
			left: -0.8em;
		}
	}
	&__barentsevoArrow,
	&__amsterdamArrow,
	&__gudermesArrow {
		left: 10%;
	}
	&__germanyArrow {
		right: 30%;
	}
	&__moscowArrow {
		left: 35%;
	}
	&__czechArrow {
		right: 10%;
	}
	&__izhevskArrow {
		bottom: 10%;
	}
	&__kazanArrow {
		top: 35%;
	}
}

.section__meetingTitle {
	&:before {
		top: -0.65em;
		left: -1.1em;
	}
	.section__title_left {
		margin-left: 5%;
		@media (max-width : 1366px) {
			margin-left: 0;
		}
		@media (max-width : 768px) {
			margin-top: 1.5em;
		}
	}
}