// Meeting
.meeting {
	position: relative;
	@media (max-width : 1200px) {
		font-size: 0.9em;
	}
	// @media (max-width : 768px) {
	// 	width: auto;
	// 	overflow: hidden;
	// 	overflow-x: auto;
	// 	overflow-y: hidden;
	// 	margin-left: -15px;
	// 	margin-right: -15px;
	// }
	&__wrap {
		position: relative;
		top: 1em;
		// left: -3em;
		width: 80%;
		min-height: 40em;
		margin-left: auto;
		margin-right: auto;
		display: block;
		@media (max-width : 1366px) {
			width: 100%;
			min-height: 52em;
		}
		@media (max-width : 1200px) {
			min-height: 59em;
		}
		@media (max-width : 992px) {
			// min-height: 24em;
		}
		// @media (max-width : 768px) {
		// 	width: 46.57em;
		// }
	}
	&__img {
		position: absolute;
		z-index: 2;
		width: 100%;
		height: auto;
	}
	&__shadow {
		position: absolute;
		z-index: 1;
		width: 100%;
		min-height: 175%;
		border-radius: 50%;
		box-shadow: -100px -150px 200px 0px rgba(95,34,34,0.4);
		@media (max-width : 1620px) {
			min-height: 210%;
		}
		@media (max-width : 1366px) {
			min-height: 250%;
			box-shadow: -50px -50px 200px 0px rgba(95,34,34,0.4);
		}
		@media (max-width : 1200px) {
			min-height: 280%;
		}
	}
	&__meteorite_06,
	&__meteorite_07 {
		position: absolute;
		z-index: 5;
	}
	&__meteorite_06 {
		top: -1em;
		right: 11em;
		@media (max-width : 1366px) {
			right: 3em;
		}
		@media (max-width : 1200px) {
			right: -3em;
		}
		@media (max-width : 992px) {
			right: -6em;
		}
		// @media (max-width : 768px) {
		// 	top: -1em;
		// 	right: auto;
		// 	left: -60px;
		// 	background-size: 5.5em 4.7em;
		// }
	}
	&__meteorite_07 {
		top: 6em;
		left: -7em;
		@media (max-width : 1366px) {
			left: -10em;
		}
		@media (max-width : 992px) {
			top: 25em;
		}
	}
	&__element {
		position: absolute;
		top: 0em;
		left: -1.3em;
		transform: rotateZ(205deg) scale(1.25);
		@media (max-width : 992px) {
			left: -2em;
		}
	}
}

// Meeting poits
.meeting {
	&__point {
		position: absolute;
		z-index: 5;
		cursor: pointer;
		color: #fff;
		text-decoration: none;
	}
	&__icon {
		color: #f92626;
		font-size: 2em;
		margin-right: 0.1em;
		@media (max-width : 1200px) {
			// font-size: 1.5em;
		}
	}
	&__amsterdam {
		top: 38.3%;
		left: 12.5%;
	}
	&__barentsevo {
		top: 15.5%;
		left: 25.5%;
	}
	&__germany {
		top: 35.9%;
		left: 27.3%;
	}
	&__czech  {
		top: 41.8%;
		left: 30.3%;
	}
	&__moscow  {
		top: 27.6%;
		left: 43.7%;
	}
	&__sochi  {
		top: 41.5%;
		left: 45.3%;
	}
	&__izhevsk  {
		top: 28.1%;
		left: 55.9%;
	}
	&__kazan  {
		top: 34.7%;
		left: 53.3%;
	}
	&__gudermes  {
		top: 47.2%;
		left: 51.1%;
	}	
}

// Meeting tooltips
.meeting {
	&__tooltip {
		position: absolute;
		z-index: 3;
		// padding: 0.5em 2em;
		padding: 0.5em 1em;
		border: 0.063em solid #6f6f6f;
		text-align: center;
		background-color: rgba(23, 22, 22, 0.7);
		box-sizing: border-box;
		@media (max-width : 1366px) {
			display: none;
		}
	}

	&__amsterdamTooltip {
		top: 3.2em;
		left: -1.4em;
	}
	&__barentsevoTooltip {
		top: -5.5em;
		left: -0.4em;
	}
	&__germanyTooltip {
		top: -5em;
		left: -7em;
		width: 16em;
		@media (max-width : 1620px) {
			top: -5.2em;
			width: 18em;
		}
		@media (max-width : 1366px) {
			width: 19em;
		}
		& > img {
			margin-right: 0.6em;
			margin-bottom: 0;
			display: inline-block;
			&:nth-child(2) {
				padding-bottom: 0.4em;
			}
			&:nth-child(3) {
				margin-right: 0;
			}
		}
	}
	&__czechTooltip {
		top: 3.6em;
		left: -3em;
		min-width: 5em;
	}
	&__moscowTooltip {
		top: -10.6em;
		left: -2.1em;
		min-width: 10em;
		text-align: left;
		@media (max-width : 1620px) {
			top: -10.8em;
		}
	}
	&__sochiTooltip {
		top: 3.3em;
		left: -5.8em;
		text-align: left;
	}
	&__izhevskTooltip {
		top: -4.9em;
		right: -5.4em;
	}
	&__kazanTooltip {
		top: -1em;
		right: -8.4em;
	}
	&__gudermesTooltip {
		top: 4.7em;
		left: 2em;
	}
	&__moscowTooltip,
	&__sochiTooltip {
		& > img {
			margin-bottom: 0.8em;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

// Meeting arrows
.meeting {
	&__arrow {
		&_down,
		&_top,
		&_left {
			position: absolute;
			z-index: 5;
		}
		&_down,
		&_top {
			width: 1.5em;
			height: 0.8em;
		}
		&_down {
			bottom: -0.75em;
			background: url('../img/meeting/arrow_down.png') no-repeat;
		}
		&_top {
			top: -0.7em;
			background: url('../img/meeting/arrow_top.png') no-repeat;
		}
		&_left {
			width: 0.9em;
			height: 1.5em;
			left: -0.7em;
			background: url('../img/meeting/arrow_left.png') no-repeat;
		}
	}
	&__barentsevoArrow,
	&__amsterdamArrow,
	&__gudermesArrow {
		left: 10%;
	}
	&__germanyArrow {
		right: 30%;
	}
	&__moscowArrow {
		left: 35%;
	}
	&__czechArrow {
		right: 10%;
	}
	&__izhevskArrow {
		bottom: 10%;
	}
	&__kazanArrow {
		top: 35%;
	}
}

.section__meetingTitle {
	&:before {
		top: -0.65em;
		left: -1.1em;
	}
	.section__title_left {
		margin-left: 5%;
		@media (max-width : 1366px) {
			margin-left: 0;
		}
	}
}